[2015-04-17 14:20] hekonsek opened #1 "Contribute camel-pi4j component"

[2015-04-17 14:20] hekonsek opened #2 "Prepare Maven release plugin"
So we could released project to the Maven Central.

[2015-04-17 14:43] gautric commented on #1
Got an camel-raspberrypi component here https://github.com/gautric/camel/tree/master/components/camel-raspberrypi
I also an camel-device-io component ready but it isn't full ready yet

[2015-04-17 14:46] davsclaus commented on #1
Whoa sounds good. Also your excellent blog, we should remember to add that as part of the docs, or refer to it from the website.

[2015-04-17 14:46] gautric commented on #2
the cook book : http://central.sonatype.org/pages/ossrh-guide.html

[2015-04-17 14:48] gautric commented on #1
If you want I can push my work asap

[2015-04-17 14:55] hekonsek commented on #2
Yeah, I can handle this one :) .

[2015-04-17 14:57] hekonsek opened #3 "Create camel device-io gpio component"
@gautric mentioned he works on it.

[2015-04-17 14:59] hekonsek commented on #1
I've created new issue (#3) for the camel-device-io component.

I will also talk to Geert Schuring - he worked on camel-serial and camel-thinkerforge components.

[2015-04-17 15:00] hekonsek commented on #1
@gautric I will create a basic structure for the project and ping you. Then you could contribute the RPi component. This is awesome stuff! :)

[2015-04-17 15:14] gautric commented on #1
what about the license ? GPL/ASF/EPL ?
your choice will be mine ;-)

[2015-04-17 16:21] davsclaus commented on #1
I suggest ASL2 which is also used by many other oss projects. And other projects that some of us work on such as fabric8 hawtio forge, and more and more jboss projects pickup asl over gpl etc.

[2015-04-17 19:20] hekonsek commented on #1
Yeah, ASL2 FTW!

[2015-04-17 19:42] hekonsek opened #4 "Create Travis CI build"

[2015-04-17 19:53] hekonsek commented on #1
Here [1] is the Maven module for the IoT related components. Feel free to add RPi component there!

[1] https://github.com/camel-labs/camel-labs/tree/master/iot/components

[2015-04-17 20:17] hekonsek opened #5 "Add RAT plugin to the project to validate licenses"

[2015-04-17 20:23] hekonsek commented on #4
Done. Also added Travis CI icon on the main page.

[2015-04-17 20:23] #4 closed

[2015-04-18 09:26] davsclaus opened #6 "Camel Labs logo"
We need a nice logo we can use for Camel labs on the web site, and also for github

[2015-04-18 09:38] davsclaus opened #7 "Add license to project"
I think we should have a ASL2 license file in the root of the project and also say we license the code using that on the web site / readme on github.

[2015-04-18 15:02] hekonsek commented on #1
Hi Greg. I see that you started to contribute the component to the project. Please let us know, when it is ready. Thanks!

[2015-04-18 15:07] hekonsek commented on #2
I have requested [1] account from Sonatype.

[1] https://issues.sonatype.org/browse/OSSRH-15077

[2015-04-18 15:28] hekonsek commented on #1
I have fixed parent and groupId of the component. I have also imported Camel BOM (2.15.1) into our BOM.

[2015-04-18 16:30] #5 closed

[2015-04-18 16:30] hekonsek commented on #5
Done.

[2015-04-18 16:31] hekonsek commented on #7
I have added RAT plugin to the project (#5). We will check for proper licenses during CI build on Travis. Now I will add license on the main page.

[2015-04-18 16:58] hekonsek opened #8 "Create Google forum for the project"

[2015-04-18 17:27] davsclaus opened #9 "Source code package name"
We should consider not using `org.apache` as the package name, but instead use something like `org.camellabs` instead.

[2015-04-18 17:53] gautric opened #10 "camel-raspberrypi component must run test with fork mode"
In real life, we cannot reuse the same pin.
pi4j implementation is quite difficult to emulate

[2015-04-18 19:19] hekonsek commented on #9
I propose to use just `com.github.camellabs` as a base package and `com.github.camellabs.iot.component.raspberrypi` for RPi in particular. If we use `org.camellabs`, then we should really purchase that domain. We also use `com.github.camellabs` as a groupId, because Sonatype won't allow us to deploy under `org.camellabs` until we purchase that domain.

[2015-04-18 20:30] hekonsek commented on #10
Can you elaborate a little bit on this one, Greg?

[2015-04-19 05:42] davsclaus commented on #9
Ah didnt know about the sonartype restriction, but sound very right in doing so.

Yeah lets go with the naming `com.github.camellabs`

[2015-04-19 09:01] gautric commented on #3
this component uses this lib http://openjdk.java.net/projects/dio/
Dio provides dio.jar (java lib) and dio.so (native lib)
Dio project doesn't release any artifact to maven central
we should manage our own dio.jar and dio.so repository

[2015-04-19 09:04] gautric commented on #1
pi4j project releases 1.0 version (http://pi4j.com/#News__Announcements) but pom and jar aren't yet available at Maven central.

[2015-04-19 09:05] gautric commented on #1
pi4j project changes to LGPLv3 License

[2015-04-19 09:07] gautric commented on #1
GPIO should works fine for Digital, Analog and PWN
IRRπ (in real raspberry π), I just tested it with Digital Input and Output

[2015-04-19 11:05] hekonsek commented on #6
Added @gautric logo to the main page of the project and as the organization logo. Looks cool! Many thanks Greg :) .

[2015-04-19 11:05] #6 closed

[2015-04-19 11:08] #7 closed

[2015-04-19 11:09] hekonsek commented on #7
Done.

[2015-04-19 15:49] davsclaus commented on #9
Great looks good

[2015-04-19 15:49] #9 closed

[2015-04-20 10:14] hekonsek opened #11 "Add GPS position consumer to the Raspberry Pi component"

[2015-04-20 10:46] hekonsek opened #12 "Create Rhiot IoT devKit setup"
It will be nice to specify the reference Raspberry Pi hardware setup that developers can easily assemble. It should contain a "shopping list" like:

- RPi B+ 2 device
- power plug
- GPS (optional)
- temperature sensor (optional)
- button and two wires (optional)

We should also provide the instructions how to assemble this setup.

We should also provide the default Camel jar application that can b

[2015-04-20 11:42] gautric commented on #11
do you mean GPS ?

[2015-04-20 11:51] gautric commented on #11
Already, I am working on I2C Endpoint w/ Consumer and Producer stuff

[2015-04-20 12:10] hekonsek commented on #11
Yes, GPS :)

[2015-04-20 14:14] hekonsek commented on #12
@ajurasz Wanna help with this one? :)

[2015-04-20 14:58] ajurasz commented on #12
@hekonsek sure :)

BTW I found pretty nice and elegant example [1] of such devKit in case we will look for some inspiration.

[1] https://projects.drogon.net/raspberry-pi/gpio-examples/

[2015-04-20 15:01] gautric commented on #12
I did some example (GPIO only) http://gautric.github.io/blog/2015/04/03/apache-camel-raspberrypi-integration.html

[2015-04-20 15:38] hekonsek commented on #12
Greg, actually I was thinking about using your setup as a base for the kit :) . Maybe just add a temperature sensor there :) .

[2015-04-21 07:10] hekonsek opened #13 "Create camel-serial component"
Geert Schuring (@geertschuring) declared that he is working on the camel-serial component based on the rxtx library. @gautric Maybe you two can collaborate on this? I know that you have started some work on the camel-serial as well.

[2015-04-21 07:58] gautric opened #14 "Create camel-i2c component"
I have create it inside the camel-raspberrypi component,
should I split it to an other component ?

[2015-04-21 07:59] gautric commented on #11
relation w/ #14

[2015-04-22 08:19] gautric opened #15 "should unprovisionPin GPIO when shutdown"

[2015-04-22 08:23] #15 closed

[2015-04-22 09:37] gautric opened #16 "Remove unused attribut "type" into GPIOEndpoint"

[2015-04-22 09:39] #16 closed

[2015-04-22 09:40] gautric opened #17 "Create camel-spi component"

[2015-04-22 09:54] gautric opened #18 "Add URI Regex Test into maven test unit process"
Change URLRegex to URIRegexTest

[2015-04-22 10:01] #18 closed

[2015-04-22 10:02] gautric opened #19 "Change pi4j lib to final 1.0 version"

[2015-04-22 10:05] geertschuring opened #20 "Contribute camel-tinkerforge component"
Code is currently located here: https://bitbucket.org/geertschuring/camel-tinkerforge
I need to check whether packaging the tinkerforge classes inside the component is allowed by the tinkerforge license. If not, I will remove it before migrating the code here.

[2015-04-22 10:10] geertschuring commented on #13
Hi @gautric, shall we discuss what we both have at this point?

[2015-04-22 10:16] hekonsek commented on #20
Thanks for creating the issue Geert. I have added you the project committers team.

[2015-04-22 10:40] geertschuring commented on #20
Thanks. I can't assign issues to my name yet though.

[2015-04-22 10:44] davsclaus commented on #20
@geertschuring I think you need to accept the invite then you ought to be able to do so. I can see in github there is a pending invitation to you.

[2015-04-22 10:45] davsclaus opened #21 "The Camel components should include the catalog documentation"
Need to make sure we have setup the needed plugins in the pom.xml so the camel apt + mvn plugin is part of the build to build the camel components with json and component.properties files and whatnot.

[2015-04-22 10:48] davsclaus opened #22 "Add to build instructions that java 8 is required"
What is the runtime is Java8 also required? Or can it run on the older java 7?

This was the pi component that had a failed build when I tried with java 7

[2015-04-22 10:58] #21 closed

[2015-04-22 11:00] davsclaus opened #23 "RaspberryPiComponent - Define as 2 components"
The 2 endpoints

- I2CEndpoint
- GPIOEndpoint

Dont share anything really and its better to define this as 2 individual components with each of their own scheme, eg

- raspberrypi-pin
- raspberrypi-i2c

Then as separate schemes this works better for Camel and tooling and whatnot.

[2015-04-22 11:17] geertschuring commented on #23
On the other hand, the uri scheme might look like this if you keep them as 1 component:
[code]

and

[code]

I have 1 tinkerforge component that supports 16 types of quite different bricklets this way:

[code]

[2015-04-22 11:20] geertschuring commented on #20
Thanks @davsclaus, that solved it.

[2015-04-22 11:21] gautric commented on #23
Currently camel-raspberry component supports
"raspberrypi://gpio/<gpioId>"  --> raspberrypi://gpio/1
"raspberrypi://i2c/<busId>/<deviceId>" --> raspberrypi://i2c/1/43

[2015-04-22 11:27] gautric commented on #23
pi4j doesn't split i2c, spi and gpio into separate libs

[2015-04-22 11:57] gautric commented on #23
@geertschuring IMHO for retrieving a resource I prefer use absolute URI (urn://resource/subId/id) than using query string (uri?id=12), because query string is optional, not the absolute URI.

[2015-04-22 12:04] geertschuring commented on #23
@gautric Yeah I was thinking the same when I saw your comment. I'll consider refactoring the tinkerforge URI. Although the endoint has default values, and so the uri parameters are really optional.

@davsclaus Maybe the added confusion over 2 different raspberry pi components (while functionally  similar) doesn't justify the neat separation of two technically unrelated code bases.

[2015-04-22 12:38] #19 closed

[2015-04-22 12:46] hekonsek commented on #22
The question here is what we would assume as a minimal JRE for the project. We can try Java8 - this is new stuff anyway. Any Raspberry Pi comes with Java 8 on Rasbpian out of the box.

What do you think?

[2015-04-22 12:52] hekonsek commented on #2
OSSRH-15077 has been resolved. I should be able to deploy to Maven Central. I will cut a release as soon as we are done with the Raspberry Pi component (#1).

[2015-04-22 12:52] #2 closed

[2015-04-22 12:52] geertschuring commented on #22
Considering that Oracle ends its security updates for Java 7 this month [1], I'd say we go with Java 8.

[1] https://www.java.com/en/download/faq/java_7.xml

[2015-04-22 12:54] geertschuring commented on #2
I'd like to add the tinkerforge component for the 0.0.0 release if that's ok with you. I already started and will push it tonight.

[2015-04-22 12:56] hekonsek commented on #2
Sure! No rush from my side. It would be great to have both components included in the release.

[2015-04-22 13:05] davsclaus commented on #22
yeah sure fine with me being java8+

[2015-04-22 13:06] gautric opened #24 "Test Rhiot with Java Embedded version 8 and compact profile stuff"
Java Embedded version [1] provides 3 compact profiles [2]
we could test with compact1, compact2 and compact3 profiles

[1] http://www.oracle.com/technetwork/java/embedded/overview/index.html
[2] http://www.oracle.com/technetwork/java/embedded/resources/tech/compact-profiles-overview-2157132.html

related to #22

[2015-04-22 14:55] hekonsek commented on #23
If both GPIO and I2C are handled via pi4j library, then I would keep them in the same component.

[2015-04-22 14:57] hekonsek commented on #23
On the other hand, Claus is right. From the tooling perspective - two components are better. For example you can assign different icons to them and then display them in the Hawt.io. And tooling is the important stuff :) .

+1 for splitting then.

[2015-04-22 15:01] gautric commented on #23
can we provide two components into the same maven artifact ?

[2015-04-22 15:08] gautric opened #25 "Should we use "#<issueId> Bla bla" for commit comment ?"

[2015-04-22 15:41] davsclaus commented on #23
Yeah I was maybe not to detailed. Yes its really about having different scheme names so there is no clash.

But you can have the same component class if you want. Or have a base class and then two extended.

For example we have in camel-ftp 3 components, ftp, ftps and sftp. The first 2 are from the same component. All in same JAR.

[2015-04-22 15:42] davsclaus commented on #23
If we know today what we know then if Camel was created then I think we would have enforced a 1:1 between component / endpoint.

[2015-04-22 15:45] davsclaus commented on #25
I think using `#NNN - bla bla` is fine.

IMHO dont have to many rules and restrictions. It should be easy and fun to work on a project in your spare time ;)

[2015-04-22 15:56] hekonsek opened #26 "Create the Message Store Cloudlet"
I'd like to contribute the first "Camel IoT cloudlet". Cloudlets will be a microservices based on camel-spring-boot that can be easily deployable into the Fabric8/OpenShift3 (or anything else supporting Kubernetes). The idea here is to provide the customizable base for the IoT backend systems in the form of the loosely connected microservices.

The first cloudlet I plan to contribute is the "messa

[2015-04-22 16:03] hekonsek opened #27 "Create reference documentation page for Camel IoT"

[2015-04-22 16:06] gautric commented on #23
+1 to split component into one artifact
two schemes will be
[code]

any objection ?

[2015-04-22 16:14] davsclaus commented on #23
@geertschuring yeah for your 16 tinkerforge then I guess its always a how to slice and dice it question.

Lets say those 16 are different functionalities (I can only guess)

- control led
- measure temperature
- beep
- capture sound
- capture video
- ...

It may still be a good idea to have 16 different schemes as then they are better separated. You can then at both design time with tooling and at

[2015-04-22 18:26] gautric commented on #23
DONE

[2015-04-22 18:26] #23 closed

[2015-04-22 20:57] hekonsek commented on #23
The new component description API provides labels, right? We might use them to group thinkerforge or rpi stuff together.

[2015-04-23 05:02] davsclaus commented on #23
Yes and you can have multiple labels separated by comma. Usually by higher level first eg
[code]

[2015-04-23 09:03] hekonsek commented on #24
BTW This is also a question about how can we prepare automated tests on real devices. I think that #12 might be useful here. @ajurasz is currently preparing some base hardware setup that we can use as a base for the kit (based on @gautric blog post).

[2015-04-23 09:09] hekonsek commented on #25
Yeah, +1 for #ID at the beginning of the comment. But nothing really formal - I would consider it more like a good practice to make the others life easier than some formal rule.

[2015-04-23 09:35] #25 closed

[2015-04-23 11:04] hekonsek commented on #27
Done - https://github.com/camel-labs/camel-labs/tree/master/iot .

[2015-04-23 11:04] #27 closed

[2015-04-23 11:05] hekonsek commented on #1
@gautric Can you add the component documentation here [1]?

[1] https://github.com/camel-labs/camel-labs/tree/master/iot#camel-raspberry-pi-component

[2015-04-23 11:10] hekonsek commented on #20
@geertschuring I'm still not sure when I'm gonna have the time for a Skype call. Maybe you can try to describe the merge problem here in the meantime? Maybe I could help via GitHub comments?

[2015-04-23 11:32] hekonsek opened #28 "Create camel-iot-utils module"
Camel IoT modules are supposed to be deployed into two targets:

- field devices (Raspberry Pi, etc.)
- as Cloudlets (#26) into the data center (i.e. Camel Spring Boot fat jars deployed into Fabric8 /Openshift3 for example)

I assume we don't care about the OSGi.

I propose to create the common util module that would:

- include SLF4J API, Guava, Apache Commons, Joda Time (to avoid reinventing the

[2015-04-23 11:45] gautric commented on #13
pi4j (1.0 and 1.1) and deviceio (UART) both provide serial port connector for raspberry (arm)

[2015-04-23 13:24] hekonsek commented on #3
Please remember to document [1] the component. Thanks!

[1] https://github.com/camel-labs/camel-labs/tree/master/iot#camel-iot-components

[2015-04-23 14:08] hekonsek opened #29 "Add WiFi access points detector to camel-kura"
I'd like to have an Kura-based endpoint that can scan Wifi networks available near the device:

    from("kura-wifi://SSID").filter(body().isNotNul()).
      to("controlbus:route?routeId=syncCachedData&action=start");

That would be useful for the cases when field device like RaspberryPi caches some data until the WiFi network becomes available. Then, when given SSID is available, Camel route dedi

[2015-04-23 14:10] hekonsek commented on #29
@davsclaus Can I just move camel-kura from ASF Camel to Camel Labs? I would prefer to maintain camel-kura here, especially that I need to integrate with the Kura artifacts outside the Maven Central. What do you think?

[2015-04-23 14:14] davsclaus commented on #29
It would certainly be easier if it hasn't been released from ASF yet. But I can see its in 2.15 release.
You can for sure fork it, and maintain it here.

[2015-04-23 17:47] gautric opened #30 "Automated tests on real devices"
#12
#24

[2015-04-23 20:43] gautric opened #31 "allow hex (0xYYYY) addr into endpoint"
electronic and low device prefer use 0x number format for addr and other stuff

[2015-04-23 20:44] gautric commented on #31
https://docs.oracle.com/javase/8/docs/api/java/lang/Integer.html#decode-java.lang.String-

[2015-04-24 07:52] hekonsek opened #32 "Create default message collector gateway application for Raspberry Pi"
We should provide a default fat jar application that can be put to out devKit (#12) or similar device. That application should be sending messages collected from the sensors on the devices to, by default, Message Store Cloudlet (#26).

The application should be configurable via the command line properties:

    java -Ddatacenter.mqtt=tcp://1.2.3.4:9876 -jar camel-iot-gateway-collector

With this k

[2015-04-24 07:56] hekonsek opened #33 "Create end-to-end examples repository"
We should create the repository of the end-to-end examples of the IoT solutions based on the Camel IoT Labs. For example the end-to-end use case demo could include:

- taking our RPi reference kit (#12)
- putting configured Camel collector gateway to the kit (#32)
- taking the kit device to the car
- riding the car and collecting the messages from the sensors
- sending the messages to the data cen

[2015-04-24 13:17] #31 closed

[2015-04-24 15:17] hekonsek opened #34 "Create Hawt.io plugin to browse data sent to the Message Store Cloudlet"

[2015-04-24 17:11] geertschuring commented on #28
I'm not sure what you mean with modules. Are those same as the components?

[2015-04-24 17:18] geertschuring commented on #13
I guess we'll have to let the camel-serial component figure out whether its on a raspberry-pi or not, and use the appropriate library to read from the serial port.

[2015-04-24 17:19] geertschuring commented on #20
I'll just move the code over here and file issues. We can solve those later.

[2015-04-24 23:00] jkirklan commented on #11
Would it be possible to route a message to devices that are within a certain distance of a GPS location?   This would be big in logistics...

[2015-04-26 20:26] gautric opened #35 "inject PIN class into GPIO Endpoint for more flexibility"

[2015-04-27 07:29] hekonsek commented on #29
I will keep Kura OSGi base module in ASF then, but add new Kura-based features like WiFi component to the Camel Labs. Thanks!

[2015-04-27 10:57] hekonsek commented on #28
By modules I mean Maven modules :)

[2015-04-27 13:19] hekonsek opened #36 "Create Geofence Cloudlet"
Geofence cloudlet should be able to consume data from message store (#26) cloudlet to provide geo-based output like:
- if given device is within the radius of the geofence
- how far from the fence is given device
- we can also use Google Static Maps API to graphically display this kid of data

I have a prototype of this cloudlet on my local machine already.

[2015-04-27 13:22] hekonsek commented on #11
Yes. This component is a part of the puzzle.

We can use this component to store the current device coordinates. With camel-paho component we can listen for the notifications from the server. We will be able to use server-side Fabric8 message store cloudlet (#26) as a source for (#36) geofencing cloudlet. Goefencing cloudlet will then tell us which devices are within the geofence - so we could sen

[2015-04-27 13:38] hekonsek opened #37 "Investigate cooperation options with the Silverspoon.io"
Silverspoon.io [1] seems to be a really cool project with some scope intersection with camel-labs. Silversoon.io guys already approached us and suggested to join the forces.

We need to investiagte what Silverspoon has already and what plan to create. And adjust our plans and scope accordingly.

[1] http://www.silverspoon.io/

[2015-04-27 14:37] #35 closed

[2015-04-27 14:39] gautric opened #38 "remove i2c stuff inside gpio component"

[2015-04-27 14:40] #38 closed

[2015-04-27 14:47] jkirklan commented on #28
A lot of the IoT work in eclipse is OSGi compliant.   Is this just a fad?

[2015-04-27 14:53] geertschuring commented on #28
Yeah the OSGi assumption surprised me too. :) My demo's are OSGi based so I would prefer proper OSGi headers in the manifest.

[2015-04-27 14:54] geertschuring opened #39 "Configure Bnd plugin to create correct OSGi headers in the manifests"
The current build does not run the bnd plugin, leaving the build artifacts with no OSGi headers in the manifest.

[2015-04-27 15:43] hekonsek opened #40 "Bulldog vs Pi4J vs Device IO"
Hi,

Silverware [1] guys mentioned that they are working on the Bulldog [2] GPIO library. I'd like to discuss here what is the scope of this library and how it relates to our pi4j integration efforts.

As I understand the Bulldog is a fork of the library of the same name. And it provides the same kind of API as Pi4J does, but is not limited to the Rasbperry Pi.

If my assumptions are correct (feel

[2015-04-27 15:45] hekonsek commented on #40
Also the question to the Silverware team - do you have the camel-bulldog component already created by any chance?

[2015-04-27 16:00] hekonsek commented on #40
OK. I can see that Silverware guys have created the bulldog component [1] already.

@sbunciak Would you consider donating your bulldog component to the camel-labs? We would like to have a common marketplace for IoT-related components here, it will be a great match for our project. Of course we'll grant you the committer rights to the project, so you can easily maintain your contribution :) .

I'd

[2015-04-27 16:09] hekonsek commented on #40
Yeah, having Pi4J and bulldog as two options is a way to go. Pi4J for as well known GPIO library and Bulldog as more portable/performant (but less popular at the moment). That would be awesome.

[2015-04-27 16:46] gautric commented on #40
@hekonsek,
- pi4j support lots of components like port extender (i2c), PiFace
- ok to rename raspberrypi-component to pi4j-component
- we have also Device IO API component. Device IO API is the Standard/Official low level API from OpenJDK, with same components like gpio, i2c, spi etc...
- as you said,
 * camel-labs should focus on low level stuff (Lego brick factory)
 * Silverspoon should manage e

[2015-04-27 19:08] geertschuring opened #41 "Make upstream Tinkerforge java bindings OSGi compatible"
Get in touch with the Tinkerforge guys and inform them how to add OSGi headers to their jars so we don't have to wrap the library.

[2015-04-27 19:45] gautric opened #42 "rename raspberrypi-component to pi4j-component"

[2015-04-27 19:47] hekonsek commented on #42
+1

[2015-04-27 19:50] hekonsek commented on #28
After the moment of consideration, I must agree with you. We should support OSGi at least for Kura deployments. Some folks would like to run Karaf on the devices as well.

Forget my comment about OSGi. We should support it. It's just my inner OSGi-hater speaking... ;)

[2015-04-27 19:52] geertschuring commented on #41
Created pull request for Tinkerforge.
https://github.com/Tinkerforge/generators/pull/40

[2015-04-27 19:54] geertschuring commented on #28
Hehe, I bet you'd like to give OSGi the spring-boot. :)

[2015-04-27 20:20] geertschuring opened #43 "Define versioning strategy"
We need to decide how to version our releases.

One way would be to follow the camel version which we build against. That means our first release would be 2.15.1. Otherwise it might get confusing to keep track of which version of camel-labs goes with which version of Camel.

[2015-04-27 20:24] hekonsek commented on #20
Geert, can you contribute the documentation to the component? Here [1] is our documentation page.

[1] https://github.com/camel-labs/camel-labs/tree/master/iot#camel-tinkerforge-component

[2015-04-27 20:26] gautric commented on #43
+1

[2015-04-27 20:38] geertschuring commented on #20
Ah yes, good point. I bet @davsclaus has an idea about generating documentation from the source.

[2015-04-27 20:50] #42 closed

[2015-04-27 20:53] geertschuring opened #44 "Update maven plugins versions"
Update maven plugin versions to latest releases.

[2015-04-27 20:56] geertschuring opened #45 "Move tinkerforge dependency version to bom"

[2015-04-27 21:14] #44 closed

[2015-04-27 21:14] #45 closed

[2015-04-28 05:28] hekonsek commented on #20
@davsclaus Geert made a good point. Can we somehow use the new documentation feature of Camel to generate the documentation that we could paste to the GitHub documentation page?

[2015-04-28 05:33] hekonsek commented on #20
@davsclaus Is Camel Maven API Component documented somewhere? I can't find it.

[2015-04-28 06:12] davsclaus commented on #20
Its a matter of having those annotations in the endpoint class, and then UriPath / UriParam for each option.

https://github.com/camel-labs/camel-labs/blob/master/iot/components/camel-device-io/src/main/java/com/github/camellabs/component/deviceio/gpio/GPIOEndpoint.java#L45

camel-labs has been setup to generate the documentation. The docs is embedded in the JAR as html and json.

To generate a .m

[2015-04-28 08:26] sbunciak commented on #37
We, in Silverspoon, aim to create a set of camel components, like:
* gpio - for manipulating particular pins [complete]
* temperature - to support most common temperature sensors [in development by an university student]
* ... (whole list is here: https://github.com/px3/silverspoon/issues)

Hawt.io should have been as a Web IDE that could be started on RPi to develop camel "IoT" routes directly on

[2015-04-28 08:40] sbunciak commented on #40
Our plan was to support several implementations of our Device API interfaces:
* Pi4J as the stable and most used GPIO library. It only supports Raspberry Pi, which we found as insufficient, we wanted to support at least RPi+CubieBoard+BeagleBoneBlack.
* Bulldog as an experimental library that we can improve in time, to be more performant and support more ARM boards than Pi4J.
* Mock implementation

[2015-04-28 08:47] sbunciak commented on #40
@hekonsek
Hi!
There is no "bulldog" camel component. Our camel-gpio component uses the Device API I mentioned above and the implementation depends on what you put on classpath. Please have a look at the architecture diagram: https://github.com/px3/silverspoon/blob/devel/doc/img/arch.svg

Nevertheless, I'm definitely for contributing our components to camel-labs! Just need to find the perfect "arch

[2015-04-28 08:49] hekonsek commented on #37
That sounds cool. What about the proposition of contributing and developing your Camel components here at the Camel IoT Labs? I mentioned this here #40.

We have already 4 active contributors for the components alone. We have also committers from the Apache Camel and Camel Extra involved here (me, Claus and Greg), so it we are pretty close the "original" Camel :) . We would be also happy to contri

[2015-04-28 09:57] geertschuring commented on #41
My pull request has been merged by Tinkerforge. The next release of the Tinkerforge java bindings will be OSGi ready.

[2015-04-28 11:23] hekonsek commented on #43
Actually we (me and Claus) would like to be free to the ASF lifecycle limitations. For example to release often and don't wait for the Camel releases.

I just prefer using the latest and the greatest Camel, just as we do in Fabric8 for example. Which BTW is released often and what is really cool.

For now I would start with released versioned like 0.0.1, 0.0.2, 0.0.3. Then switch to 0.1.0 when we

[2015-04-28 11:24] hekonsek commented on #43
@davsclaus Can tell you more about the reasons why slow ASF releases suck :) .

[2015-04-28 11:52] hekonsek commented on #40
OK. I think I get it :)

I would propose to end up with the following Maven modules in Camel Labs:

- camel-pi4j (we already have it)
- camel-device-io (we already have it)
- camel-bulldog (we need to create it)
- camel-device-api (we already have it in Silverspoon)

I propose that pi4j, device-io and bulldog components should provide "connectors" for camel-device-api. So for example if you put th

[2015-04-28 12:42] davsclaus commented on #43
I also think we should use our own version numbering.

We can then have a page with a matrix showing which versions is compatible with which Camel versions.

For example as the Camel Karaf page
http://camel.apache.org/karaf

And yeah release often is great. Love how hawtio, fabric8 is doing that. And other projects do that too such as Netty. They did 28 releases in 2014.

[2015-04-28 13:16] geertschuring commented on #39
@hekonsek The configuration for the maven-jar-plugin seems to conflict with the Bnd plugin. I think it would be a good idea to keep the camel components build config as much like the "real" camel components as possible. That means moving the config to make the components self executable out, and the config for OSGi compatibility in.

WDYT?

[2015-04-28 17:32] gautric commented on #40
@hekonsek
I thought about integrate "alias" component, but the GPIO DSL or I2C DSL could be very useful for enduser.

We could create some "route" like this
[code]

[2015-04-28 17:46] gautric opened #46 "create GPIO/I2C/SPI DSL"

[2015-04-28 18:09] hekonsek commented on #46
+1

On Tue, Apr 28, 2015, 19:46 Greg. A. <notifications@github.com> wrote:

[2015-04-28 18:14] davsclaus opened #47 "Camel Maven plugin to generate or maintain documentation"
It seems like a good place to innovate on the maven plugin we eventually would need at Apache Camel to help maintain the growing number of components and their documentation.

Today ppl document their components in the source code such as a readme.md file.

At ASF we have an old school wiki system that is cumbersome to work with.

So we have for years wanted to migrate the component docs to source

[2015-04-28 18:18] davsclaus commented on #39
@geertschuring yeah I think over the years from Apache Camel we have learned that the bnd tools and felix bundle plugin need a bit help from time to time, so having flexibility to tweak the plugin as we can do in the pom.xml at Apache Camel is likely needed.

Also we need for osgi to declare the export service and so on.

I would suggest to adopt the Camel way of making the components OSGi bundles

[2015-04-28 18:19] davsclaus commented on #22
I guess we can use maven enforcer to require Java8 or higher ?

[2015-04-28 18:30] gautric commented on #46
Spec for GPIO
[code]

Spec for I2C
[code]

[2015-04-28 20:31] #22 closed

[2015-04-28 20:33] gautric commented on #46
sample code here
https://github.com/apache/camel/tree/master/camel-core/src/main/java/org/apache/camel/model/rest

[2015-04-28 21:53] sbunciak commented on #40
@hekonsek sounds good to me ;-)
I think you can create issues for the work that needs to be done, like creating the camel-bulldog module, or merging our device-api. However, the device-api in Silverspoon is in state of POC and will require some enhacements before merging to Camel Labs. Otherwise, I think it looks like we found a way how to join our forces.

[2015-04-28 21:53] sbunciak commented on #37
I really like your proposal and we'd love to contribute to Camel IoT Labs!
Once we merge our components we can focus on the Web IDE and/or components of higher abstraction like lcd, temperature, etc.

Please note that we might need a quite big deal of help with the Bulldog library, as it is quite unstable now. Maybe @gautric could provide a helping hand? :-)
Specifically:
* incorporate https://git

[2015-04-29 07:30] hekonsek commented on #39
@gautric Can we remove these `maven-jar-plugin` entries from the components? I propose to create a dedicated "main runner" fat jars if you need them.

[2015-04-29 07:42] geertschuring commented on #47
Sounds good!

[2015-04-29 07:47] geertschuring commented on #39
I have a commit on my laptop that removes the maven-jar-plugin config and adds the correct maven-bundle-plugin config. As soon as @gautric aggrees with this change, I will push it.

[2015-04-29 07:57] geertschuring commented on #22
The enforcer plugin only forces the use of Java8 at build time, while our Java8 requirement is about runtime if I'm correct.

[2015-04-29 08:05] hekonsek commented on #22
Yeah, but you can't enforce runtime usage. JRE will just throw the class loading error if Java < 8 is used. I have added the information about Java 8 requirement to the main page.

[2015-04-29 08:28] geertschuring commented on #22
Just like you can't compile for java8 using anything other then JKD8... so what's the point of the enforcing plugin in this case? :)

[2015-04-29 09:03] gautric commented on #39
@hekonsek  @geertschuring  ok to remove

[2015-04-29 09:09] hekonsek commented on #22
- the build fails early. This is important for the bigger projects :) .
- nicer error messages :)

[2015-04-29 09:28] geertschuring commented on #22
You're right, the nice and early error message is better then letting the compiler plugin discover that it can't compile the source files.

[2015-04-29 09:40] #39 closed

[2015-04-29 10:03] geertschuring opened #48 "Group plugin and dependency configuration in 1 pom file"
We've currently got multiple places where plugins and profiles are configured:

* https://github.com/camel-labs/camel-labs/blob/master/pom.xml
* https://github.com/camel-labs/camel-labs/blob/master/bom/pom.xml
* https://github.com/camel-labs/camel-labs/blob/master/iot/components/pom.xml

I would like to suggest to:

* use the BOM (Bill Of Materials) only for DependencyManagement like the maven doc

[2015-04-29 10:44] hekonsek commented on #48
The second option seems fine for me. I.e. using the Camel approach. We can just keep the name `bom`, instead of `parent`, as the former is more friendly for the users importing that module as Bill Of Materials.

[2015-04-29 14:12] marvec commented on #37
Just to provide more details on Bulldog - there already is a MemoryMap implementation, however, it is used in a bad way (basically not aligned to pages). The hint here is to remove SysFs from Bulldog and fix the rest. But Bulldog is definitely the must have and blocker to further progress.

[2015-04-29 15:35] hekonsek commented on #47
I like this! I will try to add such MD goal to the plugin.

[2015-04-29 15:37] hekonsek commented on #20
Until #47 is resolved, let's maintain the documentation manually. @geertschuring Can you add the documentation for the Tinkerforge component? I'd like to start to brag/post/tweet about this component, but we need a reference documentation in place before we do it :) .

[2015-04-29 15:44] hekonsek commented on #40
Yay! Great to hear that. Stefan, I have added you to the committers group of Camel Labs.

We will create the issues for each "Silverspoon => Camel Labs" components migration steps.

[2015-04-29 15:44] hekonsek commented on #40
@gautric The DSL idea for gpio and i2c is awesome ;) .

[2015-04-29 15:46] hekonsek commented on #40
Next steps: Create the issues for each "Silverspoon => Camel Labs" components migration step. Then close this one.

[2015-04-30 07:49] hekonsek commented on #41
Great job! I think we can close this one.

[2015-04-30 08:12] #41 closed

[2015-04-30 08:15] geertschuring commented on #20
I don't have much documentation for the tinkerforge component yet, and I'm about to go on vacation for two weeks tomorrow. I'll try to document at least a couple of the supported bricklets before I leave so you can start bragging :+1: :smile:

[2015-04-30 09:32] hekonsek commented on #20
You can paste a raw draft of the documentation here. I can edit it, add extra descriptions and stuff like that. I just need bare content :) .

[2015-04-30 10:07] gautric opened #49 "Silverspoon.io to Rhiot components migration"

[2015-04-30 10:09] gautric opened #50 "create camel-labs.github.io website via Github Pages"
creation of camel-labs.github.io repository needed

[2015-04-30 10:18] gautric commented on #46
@hekonsek what do you think about creating an component (maven) like this "camel-iot-dsl" ?

[2015-04-30 14:49] gautric opened #51 "org.eclipse.m2e:lifecycle-mapping version not set"
failed with eclipse

[2015-04-30 14:52] #51 closed

[2015-05-04 07:45] ajurasz commented on #34
@hekonsek still in progress.

So far I have made few modification to document service to get list of all db collections through <code>/mongodb</code> endpoint. Another think was a new operation <code>findAll</code>

I have got plugin UI for selecting collections and displaying all it's data in the table.

But I don't like result of the table this is because collection structure is dynamic so it ca

[2015-05-04 12:47] hekonsek commented on #37
Thanks guys. I will help you with the migration. Hopefully next week.

[2015-05-04 15:11] hekonsek commented on #46
Actually I prefer splitting the DSL into the more specialized modules. For example camel-iot-gpio-dsl .

[2015-05-04 15:12] hekonsek commented on #46
Just to avoid keeping all possible DSLs in a single jar.

[2015-05-04 15:31] hekonsek commented on #12
@gautric How did you create those fancy RPi GPIO wiring diagram? :) I'd like to create something similar!

[2015-05-04 15:38] gautric commented on #12
@hekonsek Fritzing is your friend ;-) http://fritzing.org/home/

[2015-05-04 15:53] hekonsek commented on #12
@gautric Oh cool, I got it. Great thanks! @ajurasz created a base for the devKit based on the example from your blog. We've just added the temperature sensor there. Now I'm trying to document it :) .

[2015-05-05 17:31] hekonsek commented on #50
What I'm supposed to do here? :)

[2015-05-06 13:31] hekonsek opened #52 "Kura WiFi component should try to read the NetworkService from the registry"
So the routes deployed to Kura can take advantages of the services provided by it.

[2015-05-06 19:01] hekonsek opened #53 "Add Spring Boot BOM to our BOM"
spring-boot-dependencies is probably the most comprehensive and up-to-date BOM out there. I propose to add it to our BOM, to reduce the number of dependencies we have to maintain by ourselves.

[2015-05-06 19:03] #53 closed

[2015-05-06 19:14] hekonsek commented on #28
Done.

[2015-05-06 19:14] #28 closed

[2015-05-07 09:13] hekonsek commented on #52
Done.

[2015-05-07 09:13] #52 closed

[2015-05-07 13:12] hekonsek opened #54 "Create Camel ODB bluetooth component"
So we can plug ODB [1] devices into the car and let Camel deployed to Raspberry Pi collect the car diagnostic information using the bluetooth.

[1] https://www.youtube.com/watch?v=WOQLh1iGN60

[2015-05-07 14:53] hekonsek opened #55 "Create util to check what is the current device"

[2015-05-07 15:06] sbunciak commented on #55
We would like to include such functionality in Bulldog as well, e.g via memory lookup (like lshw). Not sure whether it's possible, though.

https://github.com/px3/bulldog/issues/23

Sent from my iPhone

[2015-05-07 18:46] hekonsek opened #56 "Create camel-temperature component"
The component should make sure that:

- `/boot/config.txt` file has been properly changed
- `sudo modprobe w1-gpio` and `sudo modprobe w1-therm` are loaded
- read temperature from the  `/sys/bus/w1/devices/28-*/w1_slave`

This is an alternative for using the gpio component directly.

[2015-05-07 18:56] sbunciak commented on #56
Hi,
we have already a student working on this component: https://github.com/px3/silverspoon/issues/5.

Btw. reading the temperature from /sys/bus/w1/devices/28-*/w1_slave is already implemented in Bulldog: https://github.com/px3/bulldog/blob/devel/bulldog-devices/src/main/java/io/silverspoon/bulldog/devices/sensors/DS18B20TemperatureSensor.java

[2015-05-07 19:12] hekonsek commented on #56
Actually I hoped you will write something like this! :D Let me take a look at this.

[2015-05-07 19:16] hekonsek commented on #56
I'm wondering how to approach this. I don't want to pull all the Bulldog dependencies into the camel-temperature component. Can you guys consider donating that fancy class sensor to Camel Labs camel-temperature component?

[2015-05-07 19:16] hekonsek commented on #56
Maybe the student you mentioned could work on the camel-temperature component here at Camel Labs?

[2015-05-07 19:17] hekonsek commented on #56
I could help him/her in the case of Camel-related problems :) .

[2015-05-07 19:23] hekonsek commented on #56
BTW Ping @ajurasz .

[2015-05-08 04:53] dmitryleskov opened #57 "Correct link to Apache Camel in README.md"
Now http://apache.camel.org/, should be http://camel.apache.org/

[2015-05-08 04:58] davsclaus commented on #57
Ah well spotted, you are welcome to work on a PR :+1:

[2015-05-08 09:04] hekonsek commented on #1
Is there any additional work related to this component? Any chance to get the docs for the component? I can help with the documentation if needed :) .

[2015-05-08 09:06] gautric commented on #1
@hekonsek I am working on ;-)

[2015-05-08 09:08] hekonsek commented on #1
Oh cool, just can't wait to brag about the cool stuff we got :) .

[2015-05-08 09:25] hekonsek opened #58 "Create camel-openhab component"

[2015-05-08 10:41] hekonsek commented on #57
Thanks Dmitry! Fixed.

[2015-05-08 10:41] #57 closed

[2015-05-08 10:43] hekonsek commented on #58
@rnaszcyn mentioned that he played with OpenHAB. The contribution is more than welcome :) .

[2015-05-08 10:44] hekonsek commented on #29
Done.

[2015-05-08 10:44] #29 closed

[2015-05-08 10:46] hekonsek opened #59 "Contribute CoAP component"

[2015-05-08 11:00] hekonsek opened #60 "Create camel-sensor-dataformat module"
We should come up with some opinionated data formats that can be used to send metrics from the sensors to data center. The data formats should include information like message id, client id, timestamp, metrics name, metrics value, etc.

[2015-05-08 11:05] hekonsek commented on #56
@sbunciak What do you think about developing that component and adding `DS18B20TemperatureSensor.java` here to the Camel Labs? Also when do you expect to have this done by the student you mentioned?

Sorry for making the tension, but I need this piece of code for the demo purposes. :) I can even contribute it myself, if you guys are too busy. Just want to be sure that we don't duplicate our work.

[2015-05-08 11:16] hekonsek opened #61 "Create fat jar /etc/init.d service for the Raspian"
If you deploy fat jar into the Raspberry Pi, you should be assured that this fat jar is executed when the device is restarted. The service could be something like:

    sudo /etc/init.d/fatjar start

[2015-05-08 13:08] rnaszcyn commented on #58
Now I just need to get myself started! The code skill atrophy I suffer from as a result of doing far more writing than coding over the past few years is something to overcome.

[2015-05-08 13:24] hekonsek commented on #58
Fear not, we're here to support your efforts :) .

[2015-05-08 16:19] hekonsek opened #62 "Create camel-pubnub component"
@pax95 offered to contribute that component - https://github.com/pax95/camel-pubnub .

[2015-05-08 19:34] pax95 commented on #62
I'll make some room for the coming week to make something working. Stay tuned.

[2015-05-08 19:34] hekonsek commented on #62
+1

On Fri, May 8, 2015, 21:34 Preben Asmussen <notifications@github.com> wrote:

[2015-05-09 07:21] sbunciak commented on #56
I think we need to sort out this topic on our call ;-)

We expect that the majority of his implementation work should be done by
the end of summer ( I know it's quite late for you, but he is a university
student, finishing his studies next year... ).
His assignment consists of imlementing SPI support in our Device API and
using it to control http://www.ti.com/product/lm74 (so it's mainly about
the

[2015-05-09 07:33] davsclaus commented on #62
Good to hear @pax95 you are still riding the Camel ;)

[2015-05-10 19:29] pax95 commented on #62
@davsclaus Once a Camel rider always a Camel rider ;)

@hekonsek Made some changes at my repo.
Currently I don't have any IoT device. If you have a raspberry (and got the time) could you try out how the Camel/pubnub combo works there ? You can use my pub/sub keys if you want.

I'll add some unittests for the current implementation next week or so.
Currently only multicast is implemented.

Unicast

[2015-05-11 09:38] hekonsek commented on #8
Created the forum - https://groups.google.com/forum/#!forum/camel-iot-labs .

[2015-05-11 09:39] #8 closed

[2015-05-11 10:03] hekonsek commented on #62
Hi Preben. I've just added you to the committers group. Would you be so kind and add the component to the project? I will try to give it a try on my Raspberry soon.

[2015-05-11 10:04] hekonsek commented on #62
This PubNub stuff looks really cool. BTW Did you have a chance to use PubNub in the production?

[2015-05-11 12:01] pax95 commented on #62
Super. I'll begin to move my repo here soon.
Yeah. Pubnub seems cool, and you can have a resilient global messaging platform up and running with a few clicks.
Up until now I didn't have any use case for PubNub, so I don't really have any stories from the trenches.

[2015-05-12 10:43] hekonsek commented on #61
Done.

[2015-05-12 10:43] #61 closed

[2015-05-12 10:44] hekonsek commented on #61
Also see - https://github.com/camel-labs/camel-labs/tree/master/iot#installing-gateway-on-the-rasbian .

[2015-05-12 12:47] gautric opened #63 "how manage this license in project ?"
"License Agreement
For Open Source Computer Vision Library
(3-clause BSD License)

Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

    Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
    Redistributions in binary form must repr

[2015-05-12 12:48] gautric opened #64 "create camel-opencv component"
http://opencv.org/
the java lib

[2015-05-12 12:55] gautric opened #65 "create camel-raspistill component"
code for main code is here https://github.com/raspberrypi/userland/blob/master/host_applications/linux/apps/raspicam/RaspiStill.c
maybe we could wrap it into JNI stuff

[2015-05-12 14:08] hekonsek opened #66 "Camel Spring Boot should start embedded MQTT router for tests"
If JUnit and camel-paho are both detected within the classpath, we should start embedded ActiveMQ broker with MQTT connector started on the random port.

[2015-05-12 14:41] hekonsek commented on #64
What can we actually do with this library? This is a kind of GUI library?

[2015-05-12 15:11] gautric commented on #64
@hekonsek it is image processing library

[2015-05-12 15:24] hekonsek commented on #64
Image processing? Like analyzing stuff from RPi camera?

wt., 12.05.2015 o 17:11 użytkownik Greg. A. <notifications@github.com>
napisał:

[2015-05-12 18:00] pax95 commented on #62
Component development moved here with commit https://github.com/camel-labs/camel-labs/commit/b509a9eb08fd6ff26c371ea27235c259d899e842
Will continue to fix missing tests, and add features here.

[2015-05-12 18:41] gautric commented on #64
Yep

[2015-05-12 19:03] hekonsek commented on #64
This is *awesome*!

wt., 12.05.2015 o 20:41 użytkownik Greg. A. <notifications@github.com>
napisał:

[2015-05-12 19:53] hekonsek opened #67 "Release version 0.1.0"
I would like to cut 0.0.0 release, so my gateway installation script [1] could download the latest gateway fat jar from Maven central.

FYI Gateway is a Spring Boot based fat jar that can be used as a "default" application installed on Rasbian to collect the messages from the sensors and send them to the data center.

[1] https://github.com/camel-labs/camel-labs/blob/master/iot/initd/rasbian/get-c

[2015-05-12 19:56] hekonsek commented on #67
Let's try to focus on closing the task we have assigned to 0.0.0 milestone.

[2015-05-12 20:57] gautric opened #68 "should we use "raspbian" instead of "rasbian" ?"
https://github.com/camel-labs/camel-labs/tree/master/iot/initd/rasbian

[2015-05-13 07:33] hekonsek opened #69 "Add support to detect explosive gases and LPG via sensors"
This might be cool for case studies.

[2015-05-13 15:47] gautric commented on #60
@hekonsek any evolution ? I need it for i2c  data struct for transportation

[2015-05-13 18:49] hekonsek commented on #60
Yes, I have some stuff ready on my local branch. I should push it in coming days. Can you wait so long?

[2015-05-14 10:36] hekonsek commented on #62
Great! Thanks Preben!

Would you be so kind and add the documentation [1] to the component as well?

[1] https://github.com/camel-labs/camel-labs/blob/master/iot/readme.md

[2015-05-14 18:05] pax95 commented on #62
sure. Just tied up in a lot of work currently.

[2015-05-14 18:47] hekonsek commented on #62
Take your time. It is not urgent :) .

[2015-05-14 18:48] gautric commented on #69
we are looking for a beta tester, aren't we ?

[2015-05-14 19:02] hekonsek commented on #69
Yeah, 100% test coverage got really serious here... ;)

czw., 14.05.2015 o 20:48 użytkownik Greg. A. <notifications@github.com>
napisał:

[2015-05-15 11:12] hekonsek commented on #55
Thanks for the update Stefan. Noted :) .

[2015-05-17 11:10] pax95 commented on #62
Added documentation and tests for the current features.

The pubnub library brings in the following dependencies:
    [INFO] +- com.pubnub:pubnub:jar:3.7.2:compile
    [INFO] |  +- org.json:json:jar:20090211:compile
    [INFO] |  \- org.bouncycastle:bcprov-jdk16:jar:1.46:compile

The org.json:json:jar:20090211 is not a osgi bundle.
What is the best way to handle this regarding eg. feature.xml and

[2015-05-17 18:47] sbunciak commented on #56
I started working on creating this component, supporting the 1wire sensors.
I will keep you updated.

2015-05-09 9:21 GMT+02:00 Štefan Bunčiak <pipistik.bunciak@gmail.com>:

[2015-05-17 19:39] hekonsek commented on #46
Hi @gautric,

@sbunciak would like to push forward the topic of the implementation-agnostic DSL / modules.

The first question is - DSL for what exactly we would like to create in the first place? GPIO? I2C?

[2015-05-17 19:41] hekonsek opened #70 "Create camel-bulldog component"
Enabling all capabilities of Bulldog library to be used in Camel. This component will be developed
by Silverspoon in Camel-labs, equivalent to camel-pi4j component.

[2015-05-17 19:55] hekonsek commented on #56
This code [1] looks cool.

Actually I think we can name that component `camel-w1`. We prefer the components to be more specific in the naming.

Regarding the endpoint URI. I would imagine reading the temperature as follows:

    // polling consumer
    from("w1:label").to("mock:temp");
    // read on demand
    from("direct:readTemp").to("w1:label");

What do you think?

[1] https://github.com/px3

[2015-05-18 12:04] hekonsek opened #71 "Gateway should send GPS data to the geofence cloudlet"
- cache the data if no WiFi connection is available
- if WiFi connection is available, send the cached messages using the MQTT

[2015-05-18 12:06] hekonsek commented on #32
Closing this one, as we already have a base for the gateway. Created #71 to create a connector to the GPS data. We could create similar connectors to the other sensors.

[2015-05-18 12:06] #32 closed

[2015-05-18 12:08] hekonsek opened #72 "Gateway should be able to read configuration file from the /etc directory"
Java properties format would be great for the beginning.

[2015-05-18 12:12] hekonsek opened #73 "Provide nicer device identification in the MQTT heartbeat messages"
We should include device type (#55) and device identifier (serial?) when sending MQTT heartbeat messages to the servers.

[2015-05-18 12:15] hekonsek commented on #68
Good catch! Fixed.

[2015-05-18 12:15] #68 closed

[2015-05-18 12:26] hekonsek opened #74 "Create LED hearbeat indicator for gateway"
This will be a nice addition to the MQTT heartbeats. Flushing the LED at the same time when MQTT message has been sent (i.e. every 5 second).

[2015-05-18 13:12] gautric commented on #74
for common message you can use wiretap like this
from("i2c").wiretap("pi4j-gpio://12").to("mqtt://")

[2015-05-18 13:36] hekonsek opened #75 "Start replacing Spring Boot with vert.x for gateway and cloudlets"
It will be nice to use vert.x instead of Spring Boot, so we can take advantage of the asynchronous processing using the minimal number of the threads.

[2015-05-18 19:12] hekonsek commented on #74
Yeah, I was thinking about something like this. :) BTW Why do you read from i2c here?

[2015-05-18 19:14] gautric commented on #74
It was an sample ;-)

[2015-05-18 19:18] hekonsek commented on #74
OK, just wanted to be sure :)

[2015-05-18 20:45] hekonsek commented on #65
Moving this to the next release. I'd like to cut 0.0.0 release soon.

[2015-05-18 20:46] hekonsek commented on #64
Moving this to the next release. I'd like to cut 0.0.0 release soon.

[2015-05-18 20:47] hekonsek commented on #50
@gautric What we have to do here? :)

[2015-05-18 20:49] hekonsek commented on #26
We can close this one, as #36 covers message store.

[2015-05-18 20:49] #26 closed

[2015-05-18 20:50] hekonsek commented on #20
Hi Geert,

I didn't have a chance to work on the Tinkerforge documentation yet. Can you consider adding it now? I'd like to close 0.0.0 release.

[2015-05-18 20:50] hekonsek commented on #47
Moving to the next release.

[2015-05-18 20:51] hekonsek commented on #49
Moving to the next release.

[2015-05-18 20:52] hekonsek commented on #34
Moving this one to the next release. I'd like to cut 0.0.0 soon. It will be better to work on this without rush :) .

[2015-05-18 20:53] hekonsek commented on #46
Moving to the next release.

[2015-05-18 20:54] gautric commented on #50
we could create an website to show and blog some cool stuff.
It could be a tutorial too

[2015-05-19 07:52] sbunciak commented on #40
I guess this one might be closed as all the relevant issues were created:
* DSL (DSL + common SPI): https://github.com/camel-labs/camel-labs/issues/46
* create camel-bulldog component: https://github.com/camel-labs/camel-labs/issues/70
* silverspoon components migration: https://github.com/camel-labs/camel-labs/issues/49

[2015-05-19 08:03] sbunciak commented on #46
Hi @hekonsek,

I'm not completely familiar with the implementation details of common DSLs in Camel, however I'd first create some kind of common API/SPI that all the "connector" components (camel-pi4j, camel-bulldog) needs to implement.

As for the DSL itself, GPIO + I2C + SPI (+ UART?) will do the thing I guess. The spec by @gautric seems fine.

[2015-05-19 08:09] gautric commented on #46
spec : https://gist.github.com/gautric/85c68f3b204398b523b1

[2015-05-19 08:35] sbunciak commented on #56
I'm not 100% sure if it's a good idea to have camel-w1 component just to measure temperature. OneWire protocol has a broader range of use.

We are going to have components like camel-pi4j & camel-bulldog which will provide all the bus implementations, and a common DSL for them. Thus, I'd prefer having a general temperature component that will leverage the common SPI as the DSL. Is it possible? Wha

[2015-05-19 08:35] sbunciak commented on #56
...and yes, I'm going to reuse the [1] class :-)

[1] https://github.com/px3/bulldog/blob/devel/bulldog-devices/src/main/java/io/silverspoon/bulldog/devices/sensors/DS18B20TemperatureSensor.java

[2015-05-19 08:40] gautric commented on #56
hi @sbunciak,

please take a look to my i2c component (https://github.com/camel-labs/camel-labs/tree/master/iot/components/camel-pi4j/src/main/java/com/github/camellabs/component/pi4j/i2c) and BMP180 implementation (https://github.com/camel-labs/camel-labs/blob/master/iot/components/camel-pi4j/src/main/java/com/github/camellabs/component/pi4j/i2c/driver/BMP180Consumer.java)

you can use it directl

[2015-05-19 09:26] sbunciak commented on #50
Would you mind creating a cross reference between camel-labs and
silverspoon.io web pages?

2015-05-18 22:54 GMT+02:00 Greg. A. <notifications@github.com>:

[2015-05-19 09:30] geertschuring commented on #20
I'll look at it tonight.

[2015-05-19 11:18] hekonsek commented on #40
Closing then.

[2015-05-19 11:18] #40 closed

[2015-05-19 11:23] hekonsek commented on #48
I've changed the structure of the project, to follow the ASF Camel one. Now we need to move some things from BOM to root POM, but we can do it with in the next release. This is may be finished in the next release.

[2015-05-19 11:25] hekonsek commented on #62
You have to wrap in the the feature file I'm afraid :) You can also register the ticket (ideally pull request) for the `org.json:json` to make this artifact the OSGi bundle.

[2015-05-19 11:26] hekonsek commented on #62
Are we done with the first version of the component and the documentation for it? I'd like to announce it as a part of the 0.0.0 release.

[2015-05-19 12:26] pax95 commented on #62
Yeah - Got some small changes in the pipeline - changing producer to DefaultAsyncProducer and endpoint docs. Will try to commit the last changes tonight :-)

[2015-05-19 13:13] hekonsek commented on #62
Great thanks Preben. I also can't wait to play with the pubSub on my RPi!

[2015-05-19 13:25] hekonsek commented on #20
I will appreciate it, thanks!

[2015-05-19 15:11] hekonsek opened #76 "Create bash scripts for running Cloudlets without Fabric8"
We need the alternative for those not using Fabric8.

[2015-05-19 15:26] hekonsek opened #77 "Provide Cloudlets metrics"
We should be able to tell how much message load have been handled by cloudlets. Camel metrics would be useful here.

[2015-05-19 17:22] pax95 commented on #62
I think the current features covers a first release candidate.
I left out channel multiplexing http://www.pubnub.com/docs/java/javase/overview/stream-controller.html#_pubnub_multiplexing. This might be interesting to implement in a later release.

@hekonsek I would love to hear how it works on a real RPi when you try it out.
I didn't find the time to dig into what device to buy (any recommendation

[2015-05-20 11:33] hekonsek commented on #46
I would start with committing camel-bulldog component first. Then creating DSL module and implementing DSL in pi4j and bulldog components. DSL is really an addition to the components. The latter can be used even without DSL - using endpoint URIs.

[2015-05-20 12:57] hekonsek commented on #3
Can we close this one in 0.0.0 release?

[2015-05-20 12:57] hekonsek commented on #1
Can we close this one in 0.0.0 release?

[2015-05-20 12:57] hekonsek commented on #14
Can we close this one in 0.0.0 release?

[2015-05-20 13:23] hekonsek commented on #62
Great! Thanks for the contribution.

Regarding the device - I own Raspberry Pi 2. It is really fast. And also easy to start with. It is just a small computer using SD card instead of the HDD :) .

Cheers!

[2015-05-20 13:23] #62 closed

[2015-05-20 13:49] geertschuring commented on #20
I've been reworking the tinkerforge URI syntax which requires a little bit more time. I'll keep you posted. What timeline do you have in mind for 0.0.0 release?

[2015-05-20 14:03] davsclaus commented on #20
Should it not be 0.1.0 release, or lest have one digit that is not zero ;)

[2015-05-21 17:54] hekonsek opened #78 "[Geofencing UI] Render Google Maps for collected GPS data"
Geofencing Hawt.io plugin should display routes on the static Google Maps.

[2015-05-21 18:23] hekonsek commented on #78
Done.

[2015-05-21 18:23] #78 closed

[2015-05-22 10:02] #48 closed

[2015-05-22 10:05] gautric commented on #43
to close ?

[2015-05-22 10:08] #43 closed

[2015-05-22 11:02] gautric opened #79 "Create Rhiot Raspbian OS"
we could create an OS img Raspbian based.
With Camel auto startup
Camel and/or RaspberryPi auto discovery
Camel Administration via hawtio
etc....
any other idea ?

[2015-05-22 11:05] gautric commented on #59
Doc, spec, resource
https://github.com/eclipse/californium

[2015-05-22 11:11] gautric commented on #36
#71

[2015-05-22 11:15] gautric commented on #59
http://coap.technology/impls.html

[2015-05-22 15:33] hekonsek commented on #43
Closing - let's stay with the independent Fabric8-like versioning.

[2015-05-22 15:48] hekonsek commented on #50
@sbunciak Linked [1] Silverspoon and Silverware at the main page.

[1] https://github.com/camel-labs/camel-labs/blob/master/README.md#iot-ecosystem

[2015-05-22 15:49] hekonsek commented on #50
Greg, can you lead the effort of creating the page? I'm not good at this kind of stuff :) . Anyway - unassigning myself from this task.

[2015-05-22 15:55] hekonsek commented on #1
@gautric Can I close this one? Is the basic version of the component and docs ready?

[2015-05-22 15:55] hekonsek commented on #3
@gautric Ping :) We are including this in 0.0.0 or moving to 0.0.1?

[2015-05-22 16:54] gautric commented on #3
impl for gpio ok, I have to write the doc
move to 0.0.1

[2015-05-22 16:56] gautric commented on #1
impl gpio ok, doc ok,
impl i2c ok, doc ok
we can close it for basic version

[2015-05-22 16:57] #1 closed

[2015-05-22 17:02] gautric commented on #14
inside #1

[2015-05-22 17:02] #14 closed

[2015-05-22 18:34] hekonsek commented on #1
Great! Thanks Greg! You can always add new stuff in the coming version (and I hope you will ;) ).

[2015-05-22 18:39] hekonsek commented on #14
Thanks a million!

[2015-05-23 09:29] hekonsek opened #80 "Camel IoT Labs roadmap"
Here are the features strategic for Camel IoT Labs development:

### Camel connectors

- Camel CoAP (both server and client side; based on Californium)
- Camel Spark (Spark is big topic for IoT big data - Camel should support it)

[2015-05-23 09:31] hekonsek commented on #80
Hi everybody,

I'd like to keep here the list of top features needed for the Camel IoT Labs to be hot. Discussion is more then welcome.

Adding CoAP and Spark integration just for start.

Cheers!

[2015-05-23 16:41] hekonsek commented on #80
Added some cloudlets-related stuff.

[2015-05-23 18:32] hekonsek commented on #56
+1 for having generic temperature component. So the URI would look like:

    // polling consumer
    from("temperature:label").to("mock:temp");

    // read on demand
    from("temperature:readTemp").to("w1:label");

We can start by adding your class as a default implementation to `camel-temperature` component. We can refactor/move it later.

[2015-05-23 20:04] hekonsek commented on #20
Nothing really urgent, but I'd like to cut the release in the coming days. :)

Claus - you are right, let's make it 0.1.0 :)

[2015-05-23 20:04] hekonsek commented on #20
Geert, let me know if I can somehow help you in finishing this one.

[2015-05-23 20:07] hekonsek commented on #10
Greg, what this task is about? I'm not sure if I get it :) .

[2015-05-24 20:57] geertschuring commented on #20
Hey, I'm working on it right now. The component is ready for the 0.1 release. I'm working on an installation tutorial with Karaf 4.0.0.M2 since we're on the bleeding edge and stuff :smile:

[2015-05-25 00:16] geertschuring commented on #20
Ok, no Karaf 4, camel has no feature files to Karaf 4 yet. Camel 2.15.2 supports Karaf 2.4.2 so I went with that: https://geertschuring.wordpress.com/2015/05/25/running-camel-tinkerforge-on-karaf/

[2015-05-25 05:11] hekonsek commented on #20
Thanks Geert!

On Mon, May 25, 2015, 02:16 Geert Schuring <notifications@github.com> wrote:

[2015-05-26 08:16] geertschuring opened #81 "Discuss conference talk"
To generate more awareness about our efforts on using Camel in the IoT domain less discuss creating a conference talk. The CFP of ApacheCon Europe, Devoxx Belgium and Devoxx Morocco are currently open...

@hekonsek @davsclaus WDYT?

I have a talk called "*There's a Camel in my house*" which I gave at the IoT Developer Day in Utrecht. (http://www.developersday.nl/) We could take that as a starting

[2015-05-26 08:52] gautric commented on #81
you need French speaker for Devoxx Belgium and Devoxx Morocco ;-)
@geertschuring no pb to rebrand your work into Camel labs std, logo, typo etc...
we need to setup a full example cloudlet I think @hekonsek is working on

[2015-05-26 09:57] geertschuring commented on #81
@gautric In my experience Devoxx Belgium is fully English. Don't know about Morocco, but the moroccan engineers I know all speak english rather well.

BTW, what do you mean with "no pb to rebrand..."?

[2015-05-26 09:59] davsclaus commented on #81
There is JBC conf in barcelona that may be good for a CFP next year
http://www.jbcnconf.com/

[2015-05-26 11:11] hekonsek commented on #81
I've been speaking at the ApacheCon EU last year and I'd love to talk again. This time including the IoT stuff. I'll submit to the CFP. I will also check

I will submit my "Internet of Things and the Back-end Developers" talk [1] for sure. I also plan to demonstrate Camel IoT Labs geofencing cloudlet together with the raspberry Pi. It has some nice Hawt.io based UI displaying the Google maps with

[2015-05-26 11:21] hekonsek commented on #3
OK. Thanks!

[2015-05-26 12:04] geertschuring commented on #81
@hekonsek Yeah I'm sending proposels for my "Camel in the house" session, and also for a session together with Roel Hodzelmans which is focussed on collecting data and using OpenShift as a backend.

[2015-05-26 13:07] geertschuring commented on #54
Hmm thats a really nice idea. I just looked into the OBD stuff and it looks exiting.

[2015-05-26 13:21] geertschuring commented on #20
@hekonsek I don't seem to have the rights to close this issue. Can you close it for me?

[2015-05-26 13:22] geertschuring commented on #67
The Tinkerforge component is ready, so I think we're good for the 0.1 release.

[2015-05-26 13:41] hekonsek commented on #54
Yeah I have already ordered my device. Cool stuff :)

On Tue, May 26, 2015, 15:07 Geert Schuring <notifications@github.com> wrote:

[2015-05-26 14:36] davsclaus opened #82 "Add Camel Labs to openhub (ohloh)"
Hi

I just added our project to openhub
https://www.openhub.net/p/camel-labs

Changes and feedback welcome. Also if you have an account on openhub/ohloh you can claim this project and also be a manager so you can change details.

[2015-05-26 17:47] hekonsek opened #83 "Load new components and beans at runtime (using Grape)"

[2015-05-26 22:19] jkirklan commented on #81
Any of you guys planning on going to EclipseCon in France?   I would go but it is the same week as RH summit...

[2015-05-27 07:39] geertschuring commented on #81
@hekonsek Would you like to present together on ApacheCon? If you do the Kura part, I'll take my Tinkerforge/Camel stuff and we'd have an awesome session.

[2015-05-27 07:54] geertschuring opened #84 "Add components to Camel Components page"
The Camel components page has an "external" section. We should add our components there.

http://camel.apache.org/components.html

[2015-05-27 07:55] hekonsek commented on #84
+1

[2015-05-27 08:06] gautric commented on #84
I've started to include pi4j component but I can't see it on the list https://cwiki.apache.org/confluence/display/CAMEL/pi4j-gpio :-(

[2015-05-27 08:08] geertschuring commented on #84
@gautric You need to add it here: https://cwiki.apache.org/confluence/display/CAMEL/Component+List+External

[2015-05-27 08:09] gautric commented on #84
"à la main / from scratch " ok, thx

[2015-05-27 08:14] gautric commented on #81
hi @jkirklan,
I will be on holidays but I can split them to go to Toulouse,
I have to check with my manager and my GF too

[2015-05-27 20:37] hekonsek commented on #83
Actually I'd like to have this component in the ASF Camel, as it is not IoT-specific. I will migrate [1] it.

[1] https://issues.apache.org/jira/browse/CAMEL-8808

[2015-05-27 20:55] hekonsek commented on #83
Migrated.

[2015-05-27 20:55] #83 closed

[2015-05-28 07:58] hekonsek commented on #67
Great. I will cut the release soon.

[2015-05-28 07:59] hekonsek commented on #20
Yay. Closing then :) .

[2015-05-28 07:59] #20 closed

[2015-05-28 14:34] geertschuring opened #86 "Discuss target platform"
Hey Guys,

We need to discuss what exactly is the target runtime platform that maven needs to build artifacts for. It defines the scope of the dependencies in the pom.
For instance, if we want to deploy the artifacts on Karaf, dependencies like camel and slf4j need the scope ```provided``` to make sure maven does not build artifacts (like feature files) that include these dependencies.

If maven n

[2015-05-28 14:35] geertschuring commented on #86
@gautric Wauw you're fast with those labels :+1:

[2015-05-28 14:37] #82 closed

[2015-05-28 15:36] gautric commented on #74
TODO : add default gpioId into configuration

[2015-05-28 16:40] hekonsek commented on #79
Good idea. I was thinking that base image should contain Gateway [1] and our startup script [2]. Ideally I'd like to have a command line tool which could create new image like and write it to the SD card, so you can just insert the card into the laptop and execute:

    write-camel-iot-gateway-image --SSID=mywifi:password --labs-version=0.1.0

Then you just insert the card into RPi and enjoy the r

[2015-05-29 09:49] #74 closed

[2015-05-29 12:48] geertschuring commented on #80
Hey Henryk, Could you give a demo of how you use those cloudlets during a hangout or semething like that? I'm curious what your vision is with all this.

[2015-05-29 18:26] gautric opened #87 "SNAPSHOT availability"
hi @hekonsek,

can we provide daily SNAPSHOT to maven central ?
it could be useful to accelerate integration and test process

best regards,

[2015-05-31 17:50] gautric commented on #64
@hekonsek it isn't an IoT component, we should create new directory, any idea ?

[2015-05-31 19:33] hekonsek commented on #64
I think that we can keep it in the 'compoennts' now to make it simpler. If
we got more components like this, we can try to move them to the dedicated
group. What do you think?

niedz., 31.05.2015 o 19:50 użytkownik Greg. A. <notifications@github.com>
napisał:

[2015-06-01 11:24] hekonsek opened #88 "Identify how cloudlets overlap with the Silverware"
Camel Labs Cloudlets
    |                  |
    |                  |
    \/                 |
    Camel Labs         |
    Components         |
    |                  |
    |                  |
    \/                 \/
    Apache Camel <--- Silverware microservices

Points to discuss:
- Silverware as a microservices base, while Camel IoT Cloudlets could be more use cases oriented (like Geofenci

[2015-06-01 19:20] hekonsek opened #89 "Add routes comments to the geofencing-cloudlet-ui"
Hi @ajurasz,

Maybe you would be interested in adding this. I'd like to have the ability to add comments to the GPS routes calculated using the geofencing service. Would you interested in adding this? Removing and editing comments would be nice as well.

Can you take care of this?

Cheers!

[2015-06-01 19:25] hekonsek commented on #80
Hi Geert,

Sure. I'd like to organize an architectural discussion like this! When have you time?

Cheers!

/CC: @geertschuring @gautric

[2015-06-02 08:18] geertschuring commented on #80
Tonight perhaps? Around 20:00 CEST?

[2015-06-02 08:22] hekonsek commented on #80
Can we make it 21:00? At 20:00 I will be putting my little daughter into
her bed :) . Greg?

wt., 2.06.2015 o 10:18 użytkownik Geert Schuring <notifications@github.com>
napisał:

[2015-06-02 08:26] geertschuring commented on #80
Yeah no problem!

[2015-06-02 08:28] hekonsek commented on #80
@gautric Greg, will you join us today 21:00?

[2015-06-02 08:31] gautric commented on #80
@hekonsek sorry, I will be on the road to an other town :-(

[2015-06-02 08:49] hekonsek commented on #80
I propose to move the meeting then. Wednesday, the same time?

[2015-06-02 08:49] geertschuring commented on #80
I'm OK with that!

[2015-06-02 08:59] hekonsek commented on #87
The project is `mvn deploy` ready, but I need to have a credentials to push snapshots to sonatype repos. Any idea have to add deploy step to the Travis CI process without exposing the password to the sonatype account?

[2015-06-02 09:43] hekonsek commented on #86
I would avoid making the dependencies OSGi-specific. I so would remove the provisioned scope from the  POM and leave compile scope. For the OSGi purposes, we should override these settings on the bundle plugin level. OSGi should be supported, but not affect the non-OSGi environments.

[2015-06-02 09:57] geertschuring commented on #86
Agreed. I will make changes accordingly.

[2015-06-02 10:47] hekonsek opened #90 "Export GPS routes with comments to PDF"
It will be nice to export list all the GPS routes for the given client as the PDF document. The export button should be available in the geofencing-ui plugin [1].

[1] https://github.com/camel-labs/camel-labs/tree/master/iot/cloudlet-ui/geofencing-ui

[2015-06-02 10:57] gautric commented on #87
@hekonsek I have got an internal server at home,
we could use it to deploy the daily SNAPSHOT

[2015-06-02 10:59] hekonsek commented on #87
Yay! Can you create the Sonatype Jira account? I'll ask for permissions for you.

[2015-06-02 13:25] jkirklan commented on #80
I am totally clueless around cloudlets.  Is there a primer somewhere you would recommend?

[2015-06-02 14:05] jkirklan commented on #80
I was thinking about Spark and other data tools.   I know that Spark is hot in the cloud space for large scale data processing.    On the smaller end (at the gateway) we may have use cases where we need to parse through data in near real time, use some of that data quickly to make control decisions(via business rules), and push some data into a "batch" to be sent up to the cloud for reporting, ana

[2015-06-02 15:35] hekonsek commented on #81
EclipseCon collides with the plans of my wife. :(

@geertschuring We can think about dedicated "Camel IoT Labs overview" session for the ApacheCon. Regardless of my Kura and your Tinkerforge talk. What do you think?

[2015-06-02 15:52] hekonsek commented on #80
@jkirklan Cloudlets are just a fancy name for the back-end microservices I started to add to the Camel IoT Labs. Cloudlets provide the out-of-the-box functionality over some common IoT problems (like geofencing, device management, security, device2device- and device2dataCenter- communication, etc.) using common IoT protocols (like REST or MQTT).

The idea is to provide some customizable building b

[2015-06-02 16:11] hekonsek commented on #80
@jkirklan Well, we definitely need a set of Camel connectors/processors dedicated for the "local" processing on the Gateway. I would call it "off-line" processing - when gateway has to perform the pre-processing of the data before that data is sent to the cloud. I believe we should propose an array of solutions here - from lightweight to heavyweight, so we can choose our weapon depending on the  g

[2015-06-02 18:58] hekonsek commented on #67
Done.

[2015-06-02 18:58] #67 closed

[2015-06-03 07:09] davsclaus opened #91 "Individual documentation for each component and root component readme with overview only"
Hi

Read the components documentation on github at
https://github.com/camel-labs/camel-labs/tree/master/iot#camel-iot-components

Its IMHO a bit long readme file which gets a bit confusing. I wonder if we should not include the component readme.md in each component, and then in the root folder have a readme.md that has an overview and a bullet list for each of the individual components you can cli

[2015-06-03 07:10] davsclaus commented on #91
Also in the bottom of that readme there is articles etc.

IMHO we could have a docs directory and start put documentation in there that will be generated as a website. We do that for fabric8, hawtio etc. And wildfly-camel does that too. We could take a peek at how they do it.

Or does github today offer a nice hosting as website as well?

Any thoughts?

[2015-06-03 07:11] davsclaus commented on #84
I think the pubsub is missing. Could anyone add that?
https://github.com/camel-labs/camel-labs/tree/master/iot/components/camel-pubnub

[2015-06-03 07:13] davsclaus commented on #63
AFAIR There is some Maven plugins AFAIR that can gather those NOTICE from individual license types and include in a root NOTICE file.

But we could also have a NOTICE where we manually add those bits needed.

[2015-06-03 08:08] geertschuring commented on #81
@hekonsek Sounds like a plan!

[2015-06-03 14:48] hekonsek commented on #88
I will try to use Silverware as a base for the next Cloudlet I create (that would be probably the Device Management one).

[2015-06-03 14:48] #88 closed

[2015-06-05 09:12] geertschuring opened #92 "Improve Karaf support"
As discussed in https://github.com/camel-labs/camel-labs/issues/86, the dependency scopes should not assume Karaf as target platform. The poms need to be checked/corrected, and proper Karaf feature files created by a seperate feature projects.

[2015-06-05 17:41] pax95 commented on #81
@geertschuring eon would be fun. I have tried https://freeboard.io that has easy integration with pubnub.
![freeboard](https://cloud.githubusercontent.com/assets/775401/8011661/b7813008-0bba-11e5-88e6-688528a8e363.png)

[2015-06-06 16:48] gautric commented on #58
doc and ref :
https://github.com/openhab
http://www.openhab.org/

[2015-06-07 18:45] hekonsek opened #93 "Create camel-gps-bu353 component"
I'd like to have Camel component to read GPS coordinates from by BU353 [1] USB device.

[1] http://blog.retep.org/2012/06/18/getting-gps-to-work-on-a-raspberry-pi/

[2015-06-07 20:01] pax95 opened #94 "Create Pubnub eon-chart sensor example"
Create a simple html page using pubnub eon https://github.com/pubnub/eon-chart that illustrates a sensor data stream.

[2015-06-08 07:21] geertschuring commented on #81
@pax95 Thanks for the suggestion. Good stuff!

[2015-06-08 15:05] hekonsek opened #95 "Improve Gateway logging"
- add logs rotation
- let to change the logging level using the environment variables

[2015-06-08 15:06] hekonsek commented on #95
Done.

[2015-06-08 15:06] #95 closed

[2015-06-08 16:32] hekonsek commented on #84
Just added the PubNub component.

[2015-06-08 16:32] #84 closed

[2015-06-08 16:39] pax95 commented on #84
@hekonsek Thanks. Missed this thread

[2015-06-08 17:27] #94 closed

[2015-06-09 07:27] hekonsek commented on #86
Actually I think that we could document the platforms we support. Like Karaf 4.x or our fat jar Gateway (which is a kinda platform as well).

[2015-06-09 09:05] hekonsek opened #96 "Prepare the gateway performance suite"
It will be nice to have a tests suite that could be deployed into the various devices, so we could measure how the gateway performs for different hardware.

[2015-06-09 09:52] hekonsek opened #97 "Camel DefaultPackageScanClassResolver can't find @Converters in the Spring Boot fat jars"
This is really a camel-core issue. `DefaultPackageScanClassResolver` should be able to find classes in the jars nested within the Spring Boot fat jars. Currently `DefaultPackageScanClassResolver` assumes only single level of nesting:

    if (urlPath.indexOf('!') > 0) {
      urlPath = urlPath.substring(0, urlPath.indexOf('!'));
    }

I had to comment out Pi4j from the gateway fat jar, as it fail

[2015-06-09 10:14] hekonsek opened #98 "Gateway should read properties from the /etc/default/camel-labs-iot-gateway"
For example:

    ## Collect GPS data from BU353 GPS device
    export camellabs_iot_gateway_gps_bu353=true

[2015-06-09 12:56] gautric commented on #60
we need agregator data format (gpsvalue, tempvalue, accelvalue)
and data format for all kind of metric (component independant)
GPSData (X,Y,Z,T,Unit {W84})
TEMPData (Value,  T,Unit  {C,K,F})
ACCELData(X,Y,Z,T,Unit  {mG})
Humidity(Value,Unit {%})

[2015-06-09 20:00] hekonsek commented on #98
Done.

[2015-06-09 20:00] #98 closed

[2015-06-09 20:16] hekonsek commented on #91
I started with the single page to keep our shit together in one place :) I'm aware it is far from being perfect.

Ideally I'd like to have Fabric8-like page. I will try to find time to investigate how it is done.

[2015-06-09 20:16] hekonsek commented on #91
In the meantime I will add the components table at the top of the documentation page.

[2015-06-11 14:20] hekonsek opened #99 "Prepare initial test suite - GPS data from gateway to data center"
For the beginning I'd like to introduce a test suite verifying the performance of the gateway for the following scenario:

*Gateway reads GPS coordinates from the BU353 GPS receiver (one of the most popular GPS units on the market). BU353 is connected to the gateway via the USB port. We would like to verify how many GPS messages can be collected by the gateway and send to the data center via the M

[2015-06-11 14:21] hekonsek commented on #96
Created more specialized task #99.

[2015-06-11 14:21] #96 closed

[2015-06-11 16:49] pax95 commented on #81
@geertschuring @hekonsek I got a http://www.pubnub.com/free-evangelism-program from PubNub for OSS dev. If anyone needs pub/sub key for demo/conference talks twitter DM @pax95

[2015-06-16 19:25] hekonsek commented on #81
Noted!

[2015-06-18 13:55] hekonsek commented on #60
Actually we might think about some generic key/value pairs data format.
What do you think?

On Tue, Jun 9, 2015, 14:56 Greg. A. <notifications@github.com> wrote:

[2015-06-18 13:56] gautric commented on #60
any idea of cool impl ?

[2015-06-18 15:03] davsclaus commented on #60
there is the "cool" java.util.Properties ;)

[2015-06-22 08:36] hekonsek opened #100 "Replace old project logo with the new one (with title)"

[2015-06-22 11:01] hekonsek opened #101 "Add 'remove route comment' button to Geofencing UI"

[2015-06-22 11:02] hekonsek opened #102 "Add 'edit comment' button to Geofencing UI"

[2015-06-26 09:02] hekonsek opened #103 "Geofencing cloudlet should not list routes without 'deleted' property"
We should assume that route is marked as deleted only if the `deleted` property is present and is not null.

[2015-06-29 16:32] hekonsek commented on #60
Kinda ;) i was thinking about properties/map to csv (de)serializer. We have
to serialize data structures to some non-chatty payload before sending it
to the wire like MQTT. Csv could be neat.

What do you think?

On Thu, Jun 18, 2015, 17:03 Claus Ibsen <notifications@github.com> wrote:

[2015-06-30 12:10] #100 closed

[2015-06-30 12:12] hekonsek commented on #100
Sexy! Thanks for handling this.

[2015-06-30 14:59] hekonsek opened #104 "Camel gateway should delete logs after N megabytes limit is exceeded"

[2015-06-30 15:03] #104 closed

[2015-06-30 15:04] hekonsek opened #105 "Camel gateway should expose Jolokia REST API"

[2015-06-30 15:08] #105 closed

[2015-06-30 15:14] hekonsek opened #106 "Assign name to the hearbeat trigger route"
This might be useful for folks willing to monitor heartbeats using the Jolokia API.

[2015-06-30 15:22] #106 closed

[2015-06-30 18:43] hekonsek opened #107 "Migrate Gateway heartbeats from the Camel interceptors to the recipient list"
Currently we trigger heartbeats via Camel trigger route. Then we wire into that route using interceptors (for example for MQTT heartbeats). This approach doesn't work well from the operations/management point of view. Routing logic added by the interceptors is not treated as the route, so we can't easily monitor it, nor stop/start/suspend, etc.

We should use recipient list instead of the intercep

[2015-06-30 19:16] hekonsek opened #108 "Add LWM2M client to the gateway"
When Gateway starts, it should register itself in the device management cloudlet. Also the LWM2M client should be always up and running, so the LWM2M communicate with the gateway and configure it.

[2015-07-01 06:22] gautric commented on #108
what about an LWM2M camel component ?

[2015-07-01 06:30] gautric commented on #107
via a system env placeholder ?

[2015-07-01 16:10] hekonsek opened #109 "Add "Technology stack" section to the documentation"
I propose to add the "Technology stack" section to the Camel IoT Labs documentation. As Camel IoT covers many technologies (starting from device layer, by gateway, ending on the server-side), we should summarize what libraries we prefer for the various layers of the IoT solution. It will be also the occasion to discuss the technologies we prefer to use.

[2015-07-01 18:49] #109 closed

[2015-07-01 18:49] hekonsek commented on #109
Done.

[2015-07-01 18:51] hekonsek commented on #109
I have added Camel to the stack and mentioned Leshan as technology we currently evaluate for adoption. I encourage everybody to discuss what technologies would you like to have included in our stack. I assume that when we add given technology to the stack, we commit to support it - so choose wisely :) .

[2015-07-02 09:54] Tingenek opened #110 "Add Serial Support"
It would be great to be able to plug in any sort of usb serial device and route it's data through Camel without needing some sort of proxy. Arduino and Usb pens talking to remote SRF devices.
There was talk of doing this using MINA2 http://camel.465427.n5.nabble.com/Serial-communication-td5723930.html

[2015-07-02 11:14] hekonsek commented on #108
Actually I'm working on it :)

[2015-07-02 11:14] hekonsek commented on #108
So basically the communication between gateway and LWM2M server should be handled using the leshan-client Camel component.

[2015-07-02 11:32] gautric commented on #108
ok, me too ;-)
but I can focus on IPSO (GPIO/TEMP/LUX) Object Model implementation, if it is ok for you.
We could get this kind of route : from("leshan-ipso://id?serverHost=").to("pi4j-gpio://id") ;-)

do you know when you can commit some stuff ?

[2015-07-02 20:33] geertschuring opened #111 "Build logs series of warning messages when downloading codehaus artifacts"
the build tries to download from the codehaus repo which has shut down.
[WARNING] Could not transfer metadata org.codehaus.groovy:groovy-eclipse-batch/maven-metadata.xml from/to codehaus.org (http://repository.codehaus.org): Failed to transfer file: http://repository.codehaus.org/org/codehaus/groovy/groovy-eclipse-batch/maven-metadata.xml. Return code is: 410 , ReasonPhrase:Gone.
This does not fai

[2015-07-03 08:15] hekonsek opened #112 "Consider Vert.x as the application framework for the cloudlets"
Vert.x scales like hell. Much better than anything else really. We should consider using Vert.x as a base for the Cloudlets (instead of Spring Boot) as we might expect extremely heavy load generated by the devices.

[2015-07-03 08:18] hekonsek commented on #112
I'm working on the Leshan-based LWM2M device management cloudlet. I will use vert.x there for a try.

[2015-07-03 08:24] hekonsek commented on #112
This [1] feature might be awesome for the Vert.x deployed into the gateway! Dynamically loads verticles from the Maven repositories.

[1] https://github.com/vert-x3/vertx-maven-service-factory/blob/master/README.md

[2015-07-03 16:08] hekonsek commented on #108
In coming days. :) Actually right now I'm more focusing on the server side of the device management with leshan.  So feel free to commit the Camel component if you want.

[2015-07-03 16:31] kartben commented on #108
poke @jvermillard

[2015-07-03 16:35] gautric opened #113 "create camel-leshan component"
camel-leshan component provides all OMA Standard Object Model and IPSO Smart Object too

[2015-07-03 16:38] gautric commented on #113
#108 will provide the gateway/server interface

[2015-07-05 19:08] hekonsek opened #114 "Create device management cloudlet"
We should provide the cloudlet based on the Leshan server that could be used for the device management.

The cloudlet should provide:
a) persistent backend for the Leshan server
b) REST API for non-LWM2M clients
c) architecture enabling horizontal scalability

[2015-07-06 11:43] hekonsek opened #115 "Add mock sensor to the gateway"
It will be nice to have a mock sensor available in the gateway. The mock will generate the mock events with the given interval and put these messages into the in-memory queue.

We could also provide the mock consumer of these in-memory messages. The the mock queue consumer should forward the messages to the MQTT broker by default.

The main purposed of the mock sensor would be generating the artif

[2015-07-06 11:46] hekonsek commented on #115
Done.

[2015-07-06 11:46] #115 closed

[2015-07-06 16:04] hekonsek opened #116 "GPSD component should make sure that GPSD is installed"
The BU353 component should check on start if the following packages have been installed before restarting the GPSD - gpsd gpsd-clients python-gps . If not, then the component should install these in the first place.

[2015-07-06 23:42] jkirklan commented on #112
Are there any downsides to using Vert.x vs. Node or somethings else?

[2015-07-07 11:36] hekonsek commented on #111
Done.

[2015-07-07 11:36] #111 closed

[2015-07-07 13:27] hekonsek commented on #107
That would be one option. I'm also thinking about using Vert.x event bus for this purpose. The heartbeats source (timer) will send the event to the event bus topic - then you can register various components that subscribe to this topic and can react on the received heartbeat event (for example logger listener, MQTT listener, LED listener, etc).

[2015-07-07 20:01] hekonsek commented on #93
Done.

[2015-07-07 20:01] #93 closed

[2015-07-11 06:41] davsclaus opened #117 "Camel native Component support for DNP3 power grid device protocol"
Wonder if this ticket is not more suitable here in camel-labs as a iot component?
https://issues.apache.org/jira/browse/CAMEL-6736

[2015-07-13 06:47] hekonsek opened #118 "Performance tester should be executable as a Docker process"
Ideally you should be able just to connect your device to the local network and execute the following command:

    docker run --net=host -v /tmp/gateway-performance:/tmp/gateway-performance -t camellabs/performance-tester

After the execution of the command above, the performance diagrams should be located in the `/tmp/gateway-performance` directory.

[2015-07-13 06:49] hekonsek commented on #87
Hi @gautric. What was your Sonatype account name again? :)

[2015-07-13 07:17] gautric commented on #87
the same "gautric" ;-)

[2015-07-13 09:14] hekonsek commented on #87
I've just requested the deploy privileges for you :) .

[2015-07-13 14:16] hekonsek commented on #87
You should be able to perform the releases now. Can you give it a try? And if everything works as expected, can you set up the daily SNAPSHOT builds on your home box?

[2015-07-13 18:03] hekonsek commented on #112
Actually vert.x is the best option as the underlying technology, as it manages the threads pool the most efficiently. This is big advantage for the resource-constrained devices like gateways.

[2015-07-14 06:57] hekonsek opened #119 "Add Leshan's public raw key authentication to the device cloudlet"

[2015-07-15 17:36] hekonsek opened #120 "Add embedded Vert.x bus to the gateway and migrate the heartbeat event source"
I think that Vert.x should be used a backbone messaging bus for the gateway. Relaying on the Vert.x event bus will improve the performance of the gateway and make extending message flow easier (as our extensions and customer code can just wire into the Vert.x event bus).

[2015-07-15 17:38] hekonsek commented on #120
I have added the embedded Vert.x event bus to the Gateway fat jar. And migrated the gateway heartbeats to the vert.x event bus.

[2015-07-15 17:40] hekonsek opened #121 "Add gateway architecture diagram to our documentation"

[2015-07-15 17:45] #120 closed

[2015-07-15 17:51] hekonsek commented on #112
I started to develop the Leshan-based device cloudlet using Vert.x.

[2015-07-15 17:51] #112 closed

[2015-07-15 18:58] hekonsek opened #122 "Create sample gateway diagnostic application in Angular or Android"
As gateway uses Vert.x event bus, we can now monitor it by consuming the events directly from that bus. We can use JS bridge and websockets to consume the heartbeats directly from the gateway and then displaying these events in Android or Angular application.

It will be nice to have a demo demonstrating event bus websocket consumption. For both Android and Angular frontends.

[2015-07-16 10:49] hekonsek opened #123 "Expose gateway's Jolokia API using Vert.x"

[2015-07-16 10:57] hekonsek opened #124 "Rename camellabs.iot.gateway.heartbeat.rate property to camellabs_iot_gateway_heartbeat_rate"
As dots can't be used in Linux environment variables.

[2015-07-16 10:57] hekonsek commented on #124
Done.

[2015-07-16 10:57] #124 closed

[2015-07-16 11:40] hekonsek opened #125 "Allow deployer for the public key authentication"
Now we support only authentication using username/password pairs.

[2015-07-16 15:19] hekonsek opened #126 "Release gateway (library) and gateway-app (fatjar) jars"
Currently we release only fat jar of the gateway. We should release gateway is embeddable library **and** as fat jar **and** as the docker image (of the fat jar).

[2015-07-17 06:07] hekonsek opened #127 "Consider using OData to expose Cloudlets data"

[2015-07-17 13:54] hekonsek commented on #126
Done.

[2015-07-17 13:54] #126 closed

[2015-07-19 16:12] hekonsek opened #128 "Geogencing hawt.io plugin - add 'delete route comment' button"

[2015-07-19 17:36] hekonsek opened #129 "Adapt Hawt.io plugins for the Cloudlet stack"
Next steps:
- move geofencing UI to the dedicated bower project
- create dedicated UI console project
- wire the authentication into to the console
- use KeyCloak-based Google OAuth login with the console

[2015-07-20 11:24] hekonsek opened #130 "R&D: How can we communicate with the 802.15.4 networks from our Java stack"

[2015-07-21 13:04] hekonsek opened #131 "Create emulator application for android/PC"
Bluemix IoT offers to create the emulator device for Android or PC. See [1]. We should offer similar things for Camel IoT Labs.

[1] https://www.youtube.com/watch?v=XePkWytg_-M

[2015-07-21 13:52] hekonsek commented on #117
I will try to take a look at this. Thanks for letting me know.

[2015-07-21 16:49] hekonsek opened #132 "Allow end users to add their own tests to the performance benchamarks"

[2015-07-22 09:11] hekonsek opened #133 "Increase the inflight messages limit in the Paho client"
Currently Paho client doesn't work well with QOS > 0 and high load. The reason for that is Paho client enforces inflight messages limit to 10. This is pretty restrictive treshold. It will be nice to issue pull request that would allow to configure inflight treshold.

[2015-07-22 10:52] hekonsek opened #134 "Create new hardware profiles for the performance testing"

[2015-07-22 12:41] hekonsek opened #135 "Create IoT devOps proxy and IoT devOps cloudlet"
My idea here is to create the data center hosted cloudlet with web UI that allows users to download the small Java webstart application. That small daemon application will act as a proxy between developer machine and data center. That would allow us to manage the devices visible by the developer's machine (for example Rapsberry Pi connected to the developer local network).

For example imagine the

[2015-07-22 15:58] hekonsek opened #136 "Add UPC-UA client/server support"

[2015-07-23 07:58] hekonsek opened #137 "Set up hardware integration test suite"
I would like to use the performance testing framework [1] as a tool for executing the end-to-end integration tests for the Camel IoT Labs. If we can buy the equipment matching our hardware profiles and the cheapest router, we could create the testing infrastructure that could be used by the Jenkins job to perform end-to-end integration tests on real devices.

[1] https://github.com/camel-labs/came

[2015-07-23 08:20] hekonsek opened #138 "Speed up deployer device detection and gateway downloading"

[2015-07-24 20:09] hekonsek opened #139 "Gateway should support non-vert.x Camel routes"
Users not familiar with the Vert.x may prefer to use use the "raw" Camel routes, instead of the `GroovyCamelVerticle`. We should offer this functionality.

[2015-07-24 20:23] hekonsek opened #140 "Add support for non-Groovy CamelVerticles"

[2015-07-26 10:15] hekonsek opened #141 "Remove Spring Boot from the gateway (Vert.x FTW)"

[2015-07-26 10:21] hekonsek commented on #141
Done.

[2015-07-26 10:21] #141 closed

[2015-07-26 10:24] hekonsek commented on #97
I removed Spring Boot from the gateway (#141), so this is a problem any longer.

[2015-07-26 10:33] hekonsek commented on #97
Done.

[2015-07-26 10:33] #97 closed

[2015-07-27 08:56] hekonsek opened #142 "Prepare new logo for Rhiot"
Hi Greg,

As we are not supposed to use the Camel logo anymore, may you can come up with some new logo for us? Considering my graphics skills, you don't want me to create the logo, believe me... ;) .

[2015-07-27 09:19] davsclaus commented on #142
I think a Camel in the logo would be fine, as ASF only has (tm) on their own official Apache Camel logo.

[2015-07-27 09:21] davsclaus commented on #142
But a new logo that is more tech and iot'sh is likely better

[2015-07-27 17:19] hekonsek opened #143 "Gateway should start Jolokia REST API on port 8778, not 8080"
Default Jolokia port is 8778, not 8080. We should start Jolokia on port 8778 then.

[2015-07-27 17:20] hekonsek commented on #143
Done.

[2015-07-27 17:20] #143 closed

[2015-07-27 17:20] hekonsek opened #144 "Gateway's Jolokia port should be configurable"

[2015-07-27 17:21] hekonsek opened #145 "Users should be able to start gateway with Jolokia API disabled"

[2015-07-27 17:23] hekonsek opened #146 "Consider Jolokia authentication options"

[2015-07-28 08:43] hekonsek opened #147 "Rebranding Camel Labs to Rhiot"
Here are some things we need to cover in order to change the name of the project from Camel Labs to Rhiot:

- rename `camel-labs-iot-foo` artifacts to `riot-foo` i.e. flatten the project structure
- decide if we would like to buy `rhiot.io` domain
- until we decide what domain we would like to use, we should rename Java packages and Maven groupIDs `com.github.camellabs` to `com.github.rhiot`
- we

[2015-07-28 08:48] hekonsek commented on #142
I would avoid using Camel in logo to cut ASF speculations that we are stealing the trademark from them. I would also avoid Red Hat or JBoss stuff being included in the logo. IMHO the best option would be to have some fancy, universal logo not associated with anything except the IoT.

[2015-07-29 08:30] hekonsek opened #148 "Replace ActiveMQ with Artemis"

[2015-07-29 14:24] hekonsek opened #149 "Document how to use Eclipse Camel debugger to analyze route deployed to gateway"

[2015-07-29 14:51] hekonsek opened #150 "Document how to use Eclipse data mapper to model data transformation in the gateway"

[2015-07-30 05:37] hekonsek commented on #147
We do own the `rhiot.io` domain.

[2015-07-30 11:35] hekonsek opened #151 "Add Travis build for the cloudlet-console"

[2015-07-30 12:38] hekonsek opened #152 "Adopt KeyCloak for the cloudlet-console"

[2015-07-30 12:38] hekonsek commented on #129
Done. However I decided to use raw Google OAuth instead of KeyCloak for a while. I have also created a dedicated ticket for KeyCloak (#152).

[2015-07-30 12:38] #129 closed

[2015-07-30 14:30] hekonsek opened #153 "Create rhiot IoT security guide"

[2015-07-30 19:27] hekonsek opened #154 "Check if we can conform to the onem2m standards"
http://www.onem2m.org/

[2015-07-30 19:38] hekonsek commented on #147
Sonatype account for `io.rhiot` created.

[2015-07-30 20:51] hekonsek commented on #87
I have granted you rights to deploy to the `io.rhiot` at Sonatype.

[2015-07-31 12:40] hekonsek opened #155 "Create demo deployment of the Rhiot Cloud"
I'd like to have a public instance of the Rhiot Cloud that we could use for demo purposes. The idea here is that people can log into the cloud, using for example their Google account, and connect their devices into cloud, see their data, etc.

I have bought `rhiot.net` domain for this purpose. I also bought the droplet on the DigitalOcean.

Action items:
- connect `rhiot.net` with the DigitalOcean

[2015-07-31 12:44] hekonsek opened #156 "Raspberry Pi temperature demo with notifications"
I'd like to have a RPi with temperature sensor that I could use for demos. I would also have the Cloudlet that I could use to set the notification when temperature reaches the given threshold.

[2015-07-31 13:03] gautric commented on #156
@hekonsek I ve got this stuff, I have to create a blog post to show you how do it (RPi, Temp sensor, camel)

[2015-07-31 13:09] hekonsek opened #157 "Consider asking Intel for their IoT hardware sampler"
Intel gives the IoT samplers [1] for the R&D purposes. We should check this out :) .

[1] https://edc.intel.com/Tools/Samples/?language=en

[2015-07-31 13:10] hekonsek opened #158 "Research Bit Data for IoT"

[2015-07-31 14:29] sbunciak commented on #56
@hekonsek you can give it a try if you'd like:  https://github.com/px3/silverspoon/tree/devel/camel-temperature later we can move the component under rhiot repository.
Should you have any comments please let me know (sorry for the delay, my free time is almost none :-/ )

[2015-07-31 17:46] hekonsek commented on #142
I have replaced our lovely Camel logo with some CreativeCommons cruise control icon from the Wikipedia. This is only a temporary change until we get the real logo :) .

[2015-08-01 08:32] kartben commented on #147
I hope you guys were aware of RIOT OS when deciding the new name? I fear the similarity of the two names brings some confusion :( At least it confuses me, for sure.

[2015-08-02 19:40] hekonsek opened #159 "Add more Camel Kura components"

[2015-08-02 20:38] hekonsek commented on #155
The domain company told me that `rhiot.net` should be ready to use after the weekend.

[2015-08-02 20:48] hekonsek opened #160 "Provide rhiot-cloud script for Docker deployment"

[2015-08-03 07:55] hekonsek opened #161 "Find 64 bit Raspberry Pi alternative to demonstrate the Docker-based gateway"

[2015-08-03 08:43] hekonsek opened #162 "Support Fabric8/openshift Rhiot Cloud deployment"

[2015-08-03 08:48] hekonsek commented on #160
Done.

[2015-08-03 08:48] #160 closed

[2015-08-03 09:52] hekonsek opened #163 "use Dockerfile for CI and snapshot build #167 duplicate"

[2015-08-03 09:52] hekonsek opened #164 "Research options to support native nodejs on the gateway"

[2015-08-03 09:52] hekonsek opened #165 "Research options to support native nodejs on the gateway"

[2015-08-03 15:17] hekonsek commented on #147
Actually we were not. Many thanks for bringing this up.

I personally think that "JBoss Rhiot" is still pretty distinguishable from the "Riot OS", but let me check this with out product management team.

[2015-08-04 07:34] davsclaus commented on #147
@hekonsek do you mind updating the information in the readme.md that refers to camel-labs, eg so that the migration is done for this file.

[2015-08-04 13:26] geertschuring commented on #147
Here's another riot thingy: https://riotgear.github.io/

[2015-08-07 14:07] geertschuring opened #166 "See what we can do with a C.H.I.P., or a bunch of them..."
See https://www.kickstarter.com/projects/1598272670/chip-the-worlds-first-9-computer

[2015-08-07 14:22] hekonsek commented on #147
@davsclaus I will continue the migration efforts when I'm back from the
vacation.

On Tue, Aug 4, 2015, 15:26 Geert Schuring <notifications@github.com> wrote:

--
Henryk Konsek
http://about.me/hekonsek

[2015-08-08 16:37] hekonsek commented on #166
Interesting!

On Fri, Aug 7, 2015, 16:07 Geert Schuring <notifications@github.com> wrote:

--
Henryk Konsek
http://about.me/hekonsek

[2015-08-09 12:34] sbunciak commented on #70
camel-bulldog resides in silverspoon repository: https://github.com/px3/silverspoon/tree/devel/camel-bulldog
Currently provides support for GPIO only.

[2015-08-11 14:15] gautric opened #167 "use Dockerfile for CI and snapshot build"

[2015-08-11 14:19] gautric commented on #167
we could use the travis.sh script too

[2015-08-11 15:26] gautric opened #168 "Research options to support native nodejs on the gateway"

[2015-08-11 15:28] gautric commented on #163
did a mistake :-(, please see #167

[2015-08-11 15:28] #163 closed

[2015-08-15 18:31] hekonsek commented on #155
Domain owner said that `rhiot.net` can be finally paid and transferred to me after the weekend.

[2015-08-15 19:48] hekonsek opened #169 "Camel APT plugin causes Maven build to fail with OOM"
See [1].

[1] https://github.com/rhiot/rhiot/commit/0d1f1ec2c55bf53edb11d577d0db2eb5955a5701

[2015-08-16 13:37] hekonsek commented on #156
Great! Looking forward to seeing this!

On Fri, Jul 31, 2015, 15:03 Greg. A. <notifications@github.com> wrote:

--
Henryk Konsek
http://about.me/hekonsek

[2015-08-17 07:10] hekonsek opened #170 "Meshblu R&D"
https://developer.octoblu.com

[2015-08-20 08:15] hekonsek commented on #155
It's alive! - http://rhiot.net

[2015-08-20 08:15] #155 closed

[2015-08-20 14:50] hekonsek opened #171 "Rhiot Cloud should support web hooks as the first class citizen"

[2015-08-20 20:54] hekonsek opened #172 "Hide Leshan schema in Device Cloudlet JSON responses"
Now when you call `GET` `/device` URI of the device cloudlet REST API, you receive the serialized Leshan POJOs:

    {"devices":
      [{"registrationDate":1439822565254,
      "address":"127.0.0.1",
      "port":1103,
      "registrationEndpointAddress":"0.0.0.0:5683",
      "lifeTimeInSec":86400,
      "lwM2mVersion":"1.0",
      "bindingMode":"U",
      "endpoint":"f4650db1-01e7-49e0-a8d7-da621

[2015-08-20 20:56] hekonsek opened #173 "Add support to configure disconnection period per device, not only globally"

[2015-08-24 07:07] hekonsek opened #174 "Device Cloudlet should display nice "No devices connected" message instead of the empty list"

[2015-08-24 08:31] hekonsek opened #175 "Replace Cloudlet Console Fabric8 logo with the Rhiot logo"

[2015-08-24 14:19] hekonsek commented on #142
Used new logo created by Greg. Kudos!

[2015-08-24 14:19] #142 closed

[2015-08-24 15:02] hekonsek opened #176 "Research how can we optimized Gulp and unit tests for Cloudlet UI"

[2015-08-25 06:43] hekonsek opened #177 "Summarize our developer gateway experience proposal"
We should summarize what kind deployments and SPI we would like to propose to the end gateway users.

I personally would like to avoid OSGi in the gateway, as we have some really nasty developer experiences related to it. Folks can still can use Fuse or Kura servers on the gateways if needed, but we should aim in the rather different technologies in my opinion. I believe that we should aim for the

[2015-08-25 07:27] lasombra commented on #169
I will take a look at this one

[2015-08-25 09:26] hekonsek commented on #169
Yay! Thanks Ingo!

[2015-08-25 09:53] hekonsek opened #178 "Add gateway support for sensors security protocols"

[2015-08-25 09:53] hekonsek opened #179 "Add Spark support to the gateway"

[2015-08-27 09:08] #176 closed

[2015-08-27 10:08] hekonsek opened #180 "Debug why Docker is reinstalled when upgrading rhiot.net"

[2015-08-27 13:35] #174 closed

[2015-08-27 19:26] hekonsek opened #181 "Introduce software updates framework for IoT devices"
We should support OTA updates of the IoT devices software (gateways in particular) using:
- plain SSH
- Red Hat Satellite
- Leshan LWM2M updates

[2015-08-28 11:41] hekonsek opened #182 "Document geofencing cloudlet"

[2015-08-28 16:09] hekonsek opened #183 "Create end-to-end function Rhiot Cloud test suite"

[2015-09-01 20:02] lasombra commented on #169
My latest debug session pointed me at the ECJ compiler when APT parses a java.lang.String object. I still have work to do here. Just leaving my latest on this

[2015-09-01 21:29] jkirklan commented on #183
We need to use this to generate MQTT traffic from simulated sensors to the intelligent gw.   We then could have FUSE and potentially BRMS manage and act on data.

[2015-09-01 21:30] jkirklan commented on #179
Do you plan to implement as a camel connector?

[2015-09-01 21:30] jkirklan commented on #178
What protocols are you targeting?

[2015-09-01 21:31] jkirklan commented on #173
Do you mean a grace period before it is declared dead?

[2015-09-01 21:31] jkirklan commented on #170
+1

[2015-09-01 21:32] jkirklan commented on #161
Look at minnowboard max

[2015-09-02 08:13] hekonsek commented on #169
Thanks Ingo. Does it mean that you can reproduce the issue?

On Tue, Sep 1, 2015, 22:02 LaSombra <notifications@github.com> wrote:

--
Henryk Konsek
http://about.me/hekonsek

[2015-09-02 08:16] hekonsek commented on #161
Thanks James. I will add it to my "shopping list" soon then :)

On Tue, Sep 1, 2015, 23:32 James Kirkland <notifications@github.com> wrote:

--
Henryk Konsek
http://about.me/hekonsek

[2015-09-02 08:23] lasombra commented on #169
Not yet. Working on it.

[2015-09-02 17:27] lasombra commented on #169
I got the reproducer, basically, transplanting the deviceio project into a new stub one and I can see that it only fails with the Groovy-Eclipse compiler, even on its latest version, 2.9.2-01. I'm looking at what can be triggering this behaviour.

So far I can avoid this by comment the class annotation UriEndpoint from GPIOEndpoint.

More to follow.

[2015-09-03 07:23] hekonsek commented on #170
Actually so far I'm not impressed by Meshblu. We can do better using the Camel + AMQ + Eclipse OSS stuff under the hood.

[2015-09-03 07:57] hekonsek opened #184 "Device Manager Cloudlet's cache should be configurable"

[2015-09-03 08:02] hekonsek opened #185 "Provide shared keystore for Device Management Cloudlet"

[2015-09-03 08:03] hekonsek opened #186 "Support Leshan LWM2M authentication"

[2015-09-03 08:05] hekonsek opened #187 "Benchmark how many connected devices Device Management Cloudlet can handle"

[2015-09-03 08:22] hekonsek opened #188 "Added TDLS support for the Device Management Cloudlet"

[2015-09-03 15:40] hekonsek commented on #179
Yes :) .

[2015-09-03 15:40] hekonsek commented on #178
Not sure yet, to be honest. Creating the list of these protocols is also a part of this task :) .

[2015-09-03 20:08] lasombra commented on #169
I am getting somewhere. There is an infinite loop on this method, at this point, https://github.com/groovy/groovy-eclipse/blob/master/jdt-patch/e44/org.eclipse.jdt.core/batch/org/eclipse/jdt/internal/compiler/batch/ClasspathJar.java#L118.

When `qualifiedPackage == java/lang` and when `filename == java/lang/uniName.dat`, the `while` loop keeps running until it fills the heap.

Here's what the thre

[2015-09-04 04:31] hekonsek commented on #169
Do you think it is issue with Groovy Manevn plugin or rather with Camel APT plugin?

[2015-09-04 05:52] lasombra commented on #169
I believe it's in the Camel APT plugin because, so far, it is triggered
here,
https://github.com/apache/camel/blob/camel-2.15.x/tooling/apt/src/main/java/org/apache/camel/tools/apt/AbstractAnnotationProcessor.java#L187
.

When it fails the previous `for`, it tries to get the data it needs from
`javax.lang.model.element.PackageElement` which goes the way of the Groovy
Eclipse compiler.

Now, this h

[2015-09-04 07:22] hekonsek commented on #169
I guess so. :) Can you thing about a kind of fix for the Camel APT plugin?

pt., 4.09.2015 o 07:52 użytkownik LaSombra <notifications@github.com>
napisał:

--
Henryk Konsek
http://about.me/hekonsek

[2015-09-04 09:10] hekonsek commented on #175
Done.

[2015-09-04 09:10] #175 closed

[2015-09-04 13:27] hekonsek opened #189 "ClasspathDependencyInjection should support loading Groovy/JavaScript scripts from HDD"
That would give us dependency injection and the ability configure the cloudlets an gateway externally without the redeployments.

[2015-09-07 14:57] hekonsek commented on #173
Yes. I'd like to be able to configure such grace period for every device connecting to our LWM2M server.

[2015-09-07 15:30] hekonsek opened #190 "Create WebSocket API for DeviceManagement cloudlet"

[2015-09-08 18:49] lasombra commented on #169
Hi @davsclaus, I need a hand understanding this method: https://github.com/apache/camel/blob/camel-2.15.x/tooling/apt/src/main/java/org/apache/camel/tools/apt/AbstractAnnotationProcessor.java#L171.

What is the logic behind this?
[code]

I am seeing that when `className == java.lang.String` it triggers an infinite loop inside ECJ. Is `java.lang.Object` a form of blacklist? If so, couldn't we add `

[2015-09-08 18:54] davsclaus commented on #169
Yeah as the method is called recusively its to break out when a class hierachy ends up in the top class from java itself, so yeah we can break out if the class name is from java.lang. or maybe even just java.

[2015-09-08 18:56] lasombra commented on #169
@davsclaus, thanks. I just confirmed that didn't work out as expected. When `className == org.apache.camel.impl.DefaultEndpoint` it also loops @ `org.apache.camel.impl`.

I'm starting to wonder if there's an issue with ECJ :-/

[2015-09-10 10:04] hekonsek commented on #183
Yes, I was thinking about it as well.

[2015-09-11 17:25] hekonsek opened #191 "Device Cloudlet: Make MongoDB timeout faster"

[2015-09-11 19:10] hekonsek commented on #180
Done.

[2015-09-11 19:10] #180 closed

[2015-09-14 07:36] hekonsek opened #192 "Device analytics data should be stored not only when read by REST API"
We should wire the interceptor into the LWM2M server in order to save the device analytics data even even the device data is read using the LWM2M server directly. Current we write analytics data only when we read the device data via the REST API.

[2015-09-14 16:02] hekonsek opened #193 "[Gateway] Add message normalization to a canonical model (transformation)"

[2015-09-15 06:04] hekonsek opened #194 "Document mock sensor"

[2015-09-15 06:33] hekonsek opened #195 "Move camel-kura component from com.github.camellabs to io.rhiot package"

[2015-09-15 06:36] hekonsek commented on #195
Done.

[2015-09-15 06:36] #195 closed

[2015-09-16 09:21] hekonsek opened #196 "Research & development: Rhiot fro RFID"

[2015-09-16 11:45] eddi888 commented on #196
The Tinkerforge Project support NFC and RFID
http://www.tinkerforge.com/en/doc/Hardware/Bricklets/NFC_RFID.html
Java Example:
http://www.tinkerforge.com/en/doc/Software/Bricklets/NFCRFID_Bricklet_Java.html

[2015-09-16 13:54] hekonsek commented on #196
Good to know! That would be definitely one of the options.

[2015-09-17 09:26] hekonsek opened #197 "Create CBOR data format for Camel"

[2015-09-18 08:12] hekonsek opened #198 "Make Rhiot runnable on the Snappy Ubuntu via the Snapcraft"

[2015-09-19 18:22] rwijngaa opened #199 "Build errors / failed test rhiot 0.1.1 ?"
Hi guys,

Great work & initiative on bringing camel to iot (amongst others) !
Anyway, i tried several options to build rhiot and got some small issues when building.
Any insights?

-- java 1.8.0_40, mvn 3.1.1
-- git clone on mac and mvn clean install
WARNING] The POM for org.codehaus.groovy:groovy-eclipse-compiler:jar:2.9.1-01 is missing, no dependency information available

--- docker based build

[2015-09-19 20:49] hekonsek commented on #199
Hi Rino,

I am glad you like the project :)

I am out of the laptop for the weekend. But I will help you with build as
soon as I am back home :) .

Cheers!

On Sat, Sep 19, 2015, 20:22 Rino <notifications@github.com> wrote:

--
Henryk Konsek
http://about.me/hekonsek

[2015-09-20 09:06] levackt commented on #199
Getting the same this morning on my local, though I get past this error from a docker-machine in the us or europe and manage to build.
FWIW my local docker-machine gets a ping of half a second to rhiot.io though mind that I'm in South Africa, strangely the test passes in the IDE and fails in maven.
I don't know if you use docker but perhaps you can try that instead of maven for now.

 +1 on the gr

[2015-09-21 07:45] hekonsek commented on #199
Hi guys,

I have changed [1] the network test, so it is executed optionally only when your machine can access the rhiot.io host. This is a kind of the optional test, so such condition is perfectly acceptable.

Thanks for catching this! Can you guys give it a try now?

Cheers!

[1] https://github.com/rhiot/rhiot/commit/8516810a53bcaf139c7f7dc9e9d7d022595ad592

[2015-09-21 08:01] levackt commented on #199
Works for me, thanks.

On Mon, Sep 21, 2015 at 9:45 AM, Henryk Konsek <notifications@github.com>
wrote:

[2015-09-21 09:31] rwijngaa commented on #199
Yep, works for me too!. Thanks!

[2015-09-21 16:19] hekonsek commented on #199
Closing then. Great to hear that it works now!

Thanks for reporting, guys!

[2015-09-21 16:19] #199 closed

[2015-09-21 18:48] hekonsek commented on #191
Done and documented - https://github.com/rhiot/rhiot/blob/master/docs/readme.md#injecting-mongodb-client .

[2015-09-21 18:48] #191 closed

[2015-09-21 19:45] hekonsek opened #201 "Add support for reading configuration from thread local Map"
For example:

    Properties.threadStringProperty("foo", "bar");
    Properties.stringProperty("foo");

[2015-09-22 19:07] hekonsek opened #203 "Add Steroids microservices bootstrap framework"

[2015-09-22 19:49] hekonsek opened #204 "Add ActiveMQ steroids module"

[2015-09-23 13:24] hekonsek opened #205 "Gateway should support some form of rules"
- custom code
- something from Drools or something else

[2015-09-23 14:55] hekonsek opened #206 "Create Camel support for steroids"

[2015-09-25 08:00] hekonsek opened #207 "Rename com.github.camellabs.iot.vertx.camel.GroovyCamelVerticle to io.rhiot.vertx.camel.GroovyCamelVerticle"

[2015-09-25 08:00] hekonsek commented on #207
Done.

[2015-09-25 08:00] #207 closed

[2015-09-27 09:02] hekonsek opened #208 "Added support for OPC-UA standard"

[2015-09-27 10:05] hekonsek opened #209 "Create Rhiot conference demo"
We should start a new repository with the project that can be used as a demo for the conferences. The project should combine as much Rhiot features as possible.

[2015-09-27 11:21] hekonsek opened #210 "BU353 returns "FileNotFoundException: /dev/ttyUSB0 (Device or resource busy)""
I'm unable to use the GpsBu353Component. I connected my Bu353S4 receiver to my Raspberry Pi (Raspbian) which is working fine. That means gpsd is running and cgps prints out valid coordinates. But when I run your camel example on the raspberry, I always get the following exception:

Consumer Consumer[gps-bu353://current-position] failed polling endpoint: Endpoint[gps-bu353://current-position]. Will

[2015-09-27 11:24] hekonsek commented on #210
Hi Thomas,

Have you tried to run the route again after the restart of the device? Please be sure that you don't run the `cgps` command before running the route.

[2015-09-28 06:25] thberger commented on #210
Hi,
would be great I we can get the Bu353 to fly with camel.
I just tried what you suggested, but now with the result that the component has problems to restart the daemon.  Here is the output of what I did:
[code]
Do you thing I should try to debug the component's code when running on the Pi to see what's happening? And by the way, I run this on a Raspberry Pi 1 Model B. The route is declared wit

[2015-09-28 06:34] hekonsek commented on #210
Hi Thomas,

Can you give the component a chance to restart the GPS daemon? Also please
don't start daemon by yourself (manually). Let the Camel handle all of this
:) . Summarizing the steps:

a) restart RPi
b) don't start GPSD by yourself
c) start Camel app
d) wait for a while (2-3 minutes) and give BU353 component a chance to
properly start the GPSD

Can you try this?

Cheers!

pon., 28.09.2015 o

[2015-09-28 07:21] hekonsek opened #211 "Support Docker Gateway deployments on the Hypriot"

[2015-09-28 07:54] levackt commented on #211
Would be nice indeed, especially as we want a kitchen sink for demos to showcase all the Rhiot features.
I also happen to be struggling like Thomas with the gpsd and dropped Hypriot to test your exact setup as there are some differences with Hypriot setup, eg Rhiot cannot run gpsd out the box as the user doesn't have permissions to run gpsd and neither kill it.
But we can overcome those things for

[2015-09-28 08:04] hekonsek commented on #211
Good to know that! Ideally I'd like to have Hypriot Docker server running at Raspian, so we could support only the latter. Supporting both Raspian and Hypriot OS would be a burden for us.

BTW Have you managed to successfully run the BU353 component?

[2015-09-28 13:24] thberger commented on #210
Hi Henryk,

thanks for the quick response! Just to clarify: I invoked gpsd -V just to show you the version I use. I didn't start the daemon itself. I checked with

    ps aux | grep gps

that really nothing related to gps is running before I start the Camel app.  But I will wait for more minutes as you suggest and report back!

Cheers!

[2015-09-28 23:05] thberger commented on #210
Hi,

I made some progress on the issue. While I still face the same problem on my RPi, I tried the code on my laptop with Ubuntu 14.04 and the Bu353 connected:

1. After a few retries, the component succeeds to start gpds and configure the device for NMEA mode. At least the code accepts the state, as one gpsctl call finally returns the expected string ("gpsctl:ERROR: /dev/ttyUSB0 mode change to NM

[2015-09-29 07:11] levackt commented on #210
Great feedback thanks, I also think we should consider connecting to 2947
or some specified port as < 3000 may be restricted, and watching for gps
events of interesting types.
I wonder if we can/should use gpsd4java[1]? Will do some testing with it
and see how/if it works, hasn't been maintained recently.

Usually when I get this particular error, I also can't get data from the
device using gpsmon

[2015-09-29 11:45] hekonsek opened #212 "Create ClientGpsCoordinates <=> String Camel type converter"

[2015-09-29 11:49] hekonsek commented on #210
Hi guys,

@thberger Yay, cool to see that you managed to read the data from the GPS! At least on the desktop. Actually it also takes few failed attempts to on RPi get property start GPSD daemon, so this is normal for the current version of the GPSD I guess.

You can't write `ClientGpsCoordinates` directly to the file. You have to serialize it before, like that [2]. We can also consider adding Came

[2015-09-29 12:01] hekonsek commented on #210
In general I'd love to refactor BU353 connectivity if only that would result in the better reliability on your Rpi boxes. If you guys could check if GPSd4Java connects properly to the GPSD on your machines, then we could start the refactoring.

Thanks again!

[2015-09-29 15:31] levackt commented on #210
You're right about the patience with gpsd, it works great after I removed,
purged and reinstalled gpsd, just wait a few minutes sometimes.
I added none of the chmod and other hacks as the errors in syslog don't
affect the performance of the device.

Also happy to report that gpds4java works from my computer no problem, when
rhiot or cgps don't work on the Pi then of course it doesn't work either.

[2015-09-29 18:47] hekonsek opened #214 "Deployer should detect devices from multiple interfaces"

[2015-09-29 18:47] #214 closed

[2015-09-29 18:47] hekonsek commented on #214
Done.

[2015-09-29 18:51] hekonsek opened #215 "Deployer should download the same gateway version as deployer version"

[2015-09-29 18:51] hekonsek commented on #215
Done.

[2015-09-29 18:51] #215 closed

[2015-09-29 19:03] hekonsek opened #216 "Deployer should allow to specify customized fat jar"

[2015-09-29 19:04] hekonsek commented on #216
Added `--artifact=com.example:custom-gateway:1.0` option to deployer.

[2015-09-29 19:04] #216 closed

[2015-09-29 19:08] hekonsek opened #217 "Add "scan" command to the deployer"
I'd like to execute deployer like:

     docker run --net=host rhiot/deploy-gateway scan

And I would expect to see the list of the detected devices.

[2015-09-29 20:08] hekonsek commented on #217
Done.

[2015-09-29 20:08] #217 closed

[2015-09-29 20:46] hekonsek opened #218 "Device detection should be performed in parallel"
Each device should be detected in the dedicated thread, as detection operations take a long time to complete.

[2015-09-30 07:16] hekonsek commented on #218
Done.

[2015-09-30 07:16] #218 closed

[2015-09-30 09:07] hekonsek commented on #177
We will use quickstarts [1] to demonstrate the idiomatic developer API we propose.

[1] https://github.com/rhiot/quickstarts

[2015-09-30 09:07] #177 closed

[2015-09-30 09:11] hekonsek opened #219 "Extend the list of supported hardware"
My candidates for the next supported devices:
- Minnowboard Max (minnowboard.org/meet-minnowboard-max) + RHEL/Atomic

[2015-10-02 07:46] levackt commented on #210
A gpsd component is developing in this [branch] (https://github.com/levackt/rhiot/tree/feature/gpsd4java), it's based on gpsd4java as discussed.
A couple of notes if you want to try it, or change the direction it's going.

1. I assume you have a running gpsd on the host, so there's no attempt to stop/start gpsd, only subscribe and unsubscribe, by default to localhost:2947
Need to consider how to e

[2015-10-02 20:43] hekonsek commented on #210
Hi Taariq,

Many thanks for this! I've been sick for the last two days. Now I'm going to the family trip - I will be back after Monday. I will look at your branch then. Many thanks again, it looks awesome! I really appreciate it.

Cheers!

[2015-10-03 04:35] levackt commented on #210
All good hey, it's a big pleasure to help out a little and learn a lot, so it's me who's thankful.
Take your time to get 100% strength back and enjoy the family, see you around next week.

[2015-10-03 07:47] thberger commented on #210
Hi,

many thanks for your help and support! Great news with the converter and gpsd4java based approach. I'll test Taariq's Camel GPS component from the branch this weekend on my Rpi and PC.

Best

[2015-10-04 10:53] levackt commented on #210
Thanks Thomas, and apologies if you already took a look and didn't get it
working, I just noticed I committed and didn't push it. :(
Anyway I just pushed the distance listener stuff and instead of adding a
listener for speed I modified the test to print different messages based on
speed, using the Pojo from the header for now.
Happy coding.

On Sat, Oct 3, 2015 at 9:47 AM, thberger <notifications@

[2015-10-06 15:29] hekonsek commented on #210
Hi,

I believe that since GPSD can handle multiple GPS receivers, we should prefer it over `/dev/tty*` reading. Actually I'd like to add Taariq's `camel-gpsd` component to the project and deprecate my very own BU353 component.

@levackt I have granted you committer rights to the project. Can you start adding the `camel-gpsd` component to our codebase? I'd love to work with you on the new component

[2015-10-06 15:32] hekonsek commented on #210
Let's start with merging the code to the project. Then let's test it against our devices. After this it would be great to give it a try with some other GPS units - we could create the list of the supported GPS units. Awesome!

[2015-10-06 16:40] levackt commented on #210
Nice one Henryk, I'll get on it, will add some more tests and polish with your guidance.
Thanks for the warm welcome :)

[2015-10-06 19:29] hekonsek opened #220 "Blog about device detector"

[2015-10-07 07:38] hekonsek opened #221 "Add support to the Qpid Dispatch Router"

[2015-10-07 10:25] levackt commented on #210
Initial commit/push is to the new branch, hope that's where you need it for
now, https://github.com/rhiot/rhiot/tree/feature/gpsd4java

Still a couple of todos so it feels like the branch is the right place, my
remaining concerns are mainly in the GpsdConsumer and centred around the
message payload, I think I mentioned them all previously and also left some
notes in the code and docs.

Something e

[2015-10-07 14:28] hekonsek commented on #210
Hi Taariq,

Is your current feature branch usable? If so, then feel free to merge it into the master even if it is not perfect yet. I will build it, test it on my RPi and help you polish the code.

Cheers!

[2015-10-07 14:49] levackt commented on #210
Ok cool, yes it's useable and breaks nothing, Travis also passed earlier.
If you don't have a Pi running then the simple GpsdComponentTest can take a
while to fail.
Now merged with master, new build is underway...

On Wed, Oct 7, 2015 at 4:28 PM, Henryk Konsek <notifications@github.com>
wrote:

[2015-10-07 15:01] levackt commented on #210
Still todo in GpsdConsumer, decide what goes into the exchange and whether it goes into the header or property, currently there's the TPVObject.
Along with that payload I added the host and port as headers but that can be confusing/unnecessary, keep in mind that it's lost when writing to file and back as we don't store it in ClientGpsCoordinates.

[2015-10-07 15:25] hekonsek commented on #210
I would remove host and port from the headers. In general we try not to copy information from endpoint to exchange, as user can do it by him/herself.

I like your approach with the payload. That is we use our `ClientGpsCoordinates` as the body (as it is easy small and easy to serialize and deserialize), while we keep the original `TPVObject` in the header, if user needs more detailed information.

[2015-10-07 15:26] hekonsek commented on #210
Cool! I will try to run the component against my RPi today or tomorrow. Many thanks again for all your work Taariq!

[2015-10-07 15:31] levackt commented on #210
Cool, removed the headers.
I also fixed the integration test to use some remote Pi's address like rhiot-pi, you can change that, my own Pi is typically rhiot-pi.local, point is that the integration test shouldn't use localhost and try to start gpsd daemon.

[2015-10-07 15:33] levackt commented on #210
Also made it explicit that it's the TPVObject and not the marker interface, in the scope of the Rhiot this should be good, can always widen it later but I have doubts.
Thanks for the polish, looking better already :)

[2015-10-07 15:53] levackt commented on #210
Just remembered we can use the nifty Pi detector to find the remote pi for the integ test, will fix that tomorrow too.

[2015-10-07 18:50] hekonsek opened #222 "Top priority quickstarts"
Top priorities for edge to middleware are:
- REST
- Websockets
- MQTT (with MQTT over Websockets features)
- CoAP would be a bonus
- something for “polling” Bluetooth 4.0 and 802.15.4-based sensors

[2015-10-07 19:07] hekonsek opened #223 "Create Camel shell tools"
I'd like to have a command line tool that allows me to execute producerTemplate-like commands, for example:

    camel-send paho://topic?brokerUrl=tcp://example.com:1234 body

[2015-10-07 19:19] gautric commented on #223
we could use
groovy for flexibility, simplicity
gradle for dependency  ?

[2015-10-07 21:16] thberger commented on #210
Hi guys,

just a quick update from my side: As promised, I tested Taariq's GPS component from the branch. It worked very well on my Raspberry Pi! So I really appreciate a merge of this version into master. Will make some more tests in the next days. Thanks a lot!

[2015-10-08 04:57] levackt commented on #210
Nice one, so glad it works on your Pi. And thanks to you too.

[2015-10-08 05:37] hekonsek commented on #210
It is good to see that component works on many devices. I will give it a try tomorrow as well and continue to perform the peer review.

Thanks guys!

[2015-10-08 10:04] hekonsek opened #224 "Create AMQP quickstart"

[2015-10-08 13:49] hekonsek commented on #223
By all means! I'm Groovy fan boy :) .

[2015-10-08 13:50] hekonsek commented on #223
Maybe let's just stick to Maven. I would like this project to by under the same build umbrella, as the rest of the project.

[2015-10-08 15:09] hekonsek opened #225 "Add AMQP support to the Steroids"

[2015-10-08 15:09] hekonsek commented on #225
Done.

[2015-10-08 15:09] #225 closed

[2015-10-08 15:42] hekonsek opened #226 "Rhiot should support reading Spring Boot application.properties file"
Calling `Properties.stringProperty("foo")` should fall back to reading the Spring Boot `application.properties` file as the last resort.

[2015-10-08 15:57] hekonsek commented on #226
Done.

[2015-10-08 15:57] #226 closed

[2015-10-09 14:33] hekonsek commented on #223
Do you plan to work on this in the coming days? If not, I could start to work on it.

[2015-10-09 15:57] hekonsek opened #227 "Add producer to the camel-gpsd component"
It should be possible to read GPS coordinates on demand, via producer. For example:

    from('jms:readGps').to('gpsd:gps');

[2015-10-09 15:58] hekonsek commented on #227
@levackt Would you like to implement this one? If not, I will be happy to do it :) . In general it is good to have the ability to call the endpoint as the producer, so you can poll for example GPS on demand, not only via scheduler.

[2015-10-09 17:02] levackt commented on #227
Cool idea and you know I want this ticket so leave it to me please :)
Have something half-baked on the shelf, will check it out tomorrow.

What behaviour do you expect if it's local and there's no daemon running?

On Fri, Oct 9, 2015 at 5:58 PM, Henryk Konsek <notifications@github.com>
wrote:

[2015-10-09 19:58] hekonsek commented on #227
Well, we should move the logic responsible for setting up GPSD to the endpoint (currently it is in the consumer). So basically producers and consumers should not be started until endpoint is started. Basically all you have to do is to move GPSD daemon startup process from consumer#start to endpoint#start.

BTW `KuraWifiProducer` and `KuraWifiConsumer` presents similar approach. I.e. the same opera

[2015-10-09 20:05] hekonsek opened #228 "Gpsd consumer should offer both listener-based and scheduled API"
Currently we support only listener consumers i.e. we consume all the GPS events with Camel. In many cases however we would prefer to poll single GPS coordinates pair from time to time. For example every 5 seconds. This is pretty common case as usually you don't need such GPS precision, while you prefer not to overflow device with too many redundant messages.

I would like to have `?scheduled=true`

[2015-10-09 20:06] hekonsek commented on #228
@levackt The another one that might be interesting for you :) . Let me know if you want to adopt it, otherwise I can implement it.

[2015-10-10 04:49] levackt commented on #227
gpsd is already set up in the endpoint, it used to be in the component.
But I get the idea, in progress...

On Fri, Oct 9, 2015 at 9:58 PM, Henryk Konsek <notifications@github.com>
wrote:

[2015-10-10 09:12] levackt commented on #228
No doubt! Adopted and done :)

[2015-10-10 09:12] levackt commented on #227
also done

On Sat, Oct 10, 2015 at 6:49 AM, Taariq Levack <taariql@gmail.com> wrote:

[2015-10-11 19:40] hekonsek commented on #227
Many thanks Taariq! You are awesome :) .

[2015-10-11 19:41] #227 closed

[2015-10-11 19:48] hekonsek opened #230 "Move GPSD daemon restart to the component"
Hi @levackt,

I've been thinking about this, and daemon restarting logic should be in component, not in endpoint.

Currently if your create three routes like...

    from("timer:foo").to("gpsd:foo");
    from("timer:bar").to("gpsd:baz");
    from("timer:baz").to("gpsd:bar");

...you will end up with GPSD being restarted three times, as three endpoints will be created. This is usually not what user

[2015-10-11 20:19] levackt commented on #230
Yeah you're right, just wonder if the component will know if it's a local endpoint to start the daemon. That's how it ended up in the endpoint.
Can probably use the component's createEndpoint to decide, will check it out.

[2015-10-11 20:38] hekonsek commented on #230
Oh, I get it now. You are right.

We can have two Countdown Latch instances in the gpsd component - "starting" and "started" The first endpoint started be Camel context will decrease the "starting" latch to indicate to the other endpoints that those should not try to restart the GPSD, but only wait until "started" latch is unblocked. As soon as the first endpoint finishes restarting the gpsd, the

[2015-10-11 22:09] thberger opened #231 "Consider Raspberry Sense-Hat support"
Hi,

are there considerations to support the RPi Sense-Hat? The Sense-Hat (https://www.raspberrypi.org/products/sense-hat/) is an "official" add-on board for the Raspberry with multiple environment sensors (e.g. humidity, temperature, acceleration, gyroscope, pressure). I recently bought one and tried it with my RPi 2. It really works great using the official Python library. It would be cool to se

[2015-10-12 04:46] hekonsek commented on #228
Awesome, thanks!

[2015-10-12 04:46] #228 closed

[2015-10-12 05:49] hekonsek commented on #231
Actually I love the idea :) . I will order one for myself as well!

[2015-10-12 05:51] hekonsek commented on #231
Would you like to work on this? Let me know if you need help. I'm here to serve :) .

[2015-10-12 06:14] levackt commented on #230
I ran with this, please confirm the logic.
What I observed when starting multiple endpoints is that Camel will start
each endpoint one at a time and wait until it's done starting, in turn the
endpoint will wait for the component to restart the daemon if it's a local
endpoint, so the latch may be overkill.
Of course let me know if you hear the alarm bells ringing or see some
improvement.

On Sun, O

[2015-10-12 08:40] hekonsek opened #232 "Deprecate BU353 component on the behalf of the GPSD component"
Action points:
* create web content

[2015-10-12 08:58] hekonsek opened #233 "Replace io.rhiot.component.gps.gpsd with io.rhiot.component.gpsd"
There is no need to have shared `gps` package anymore, as GPSD is supposed to cover all the GPS units.

[2015-10-12 08:58] hekonsek commented on #233
@levackt Would you mind doing this little refactoring? If not, I can handle this.

[2015-10-12 09:28] levackt commented on #233
No probs

On Mon, Oct 12, 2015 at 10:58 AM, Henryk Konsek <notifications@github.com>
wrote:

[2015-10-12 09:39] hekonsek commented on #233
Many thanks Taariq!

[2015-10-12 09:39] #233 closed

[2015-10-14 18:57] hekonsek opened #234 "Document gateway GPS"

[2015-10-15 19:28] hekonsek opened #235 "GPSD seems to be broken now"
Does GPSD work for you? I'm trying to deploy the gateway:

    docker run --net=host -it rhiot/deploy-gateway deploy-gateway -Pgps=true -Pcamellabs_iot_gateway_log_root_level=debug --artifact=io.rhiot:rhiot-gateway-app:0.1.2-SNAPSHOT

What I can see in logs is that GPSD component is started, GPSD endpoint is started, GPSD daemon is successfully restarted and then... CamelContext shuts down.

Can y

[2015-10-16 04:18] levackt commented on #235
That exact docker command can't work for me yet, due to "No supported devices detected", I was waiting for the fix for this to be released before deploying with docker again but just pulled the latest rhiot/deploy-gateway image and it still doesn't work.
For now I deploy with the IDE by running the groovy Deployer and it works great again, before pulling it failed due to the exception below.

Exch

[2015-10-16 09:25] hekonsek opened #236 "Document gateway deployer"

[2015-10-16 11:05] hekonsek opened #237 "Gateway GPS enricher should support multiple sources"
The GPS enricher could use CSV format like...

      gps_enrich = wifi:kura-wifi:*/*, temperature:tinkerforge:/temperature/T1

Then enriched GPS coordinates would be like:

    {"lat": 10.0, ..., "wifi":{...}, "temperature:{...}"}

[2015-10-16 11:10] hekonsek commented on #235
Have you used the `--net=host` option when running deployer from Docker?

[2015-10-16 11:28] levackt commented on #235
Yep, and the Pi is running for sure, I can ssh into it with the default
user as well as deploy from the IDE.

Not sure if the behaviour of net=host is different on osx, anyway here's
the copy/paste and output as is

docker run --net=host -it rhiot/deploy-gateway deploy-gateway -Pgps=true
-Pcamellabs_iot_gateway_log_root_level=debug
--artifact=io.rhiot:rhiot-gateway-app:0.1.2-SNAPSHOT
Detecting dev

[2015-10-16 11:45] hekonsek commented on #235
Let's come back to the dockerized deployer later.

I have narrowed the issued with GPSD. It fails only if I use `gps_enrich=kura-wifi:*.*` but works for other endpoints. I will take this one then :) .

[2015-10-16 11:46] hekonsek opened #238 "Deployer doesn't detect devices on OSX"

[2015-10-16 11:46] hekonsek commented on #238
Can you try to debug that one? I suspect that this is OSX related issue, so I can't give it a try myself. :(

[2015-10-16 11:54] levackt commented on #238
Yeah sure, how do I build the rhiot/deploy-gateway image?

Side note that might be related, if I set up a fake rPi in docker, using a
vanilla Ubuntu with ssh, java etc with a pi/raspberry user, then I need to
hack the JavaNetInterfaceProvider to also use the vboxnet interface.
That said I would assume net=host to bypass this interface and give me the
wan/lan, it's worth a stab though.

On Fri, Oct

[2015-10-16 15:46] hekonsek commented on #238
To build/push the docker image:

    mvn clean install docker:build docker:push

Maven Docker plugin FTW! :)

That would be great if we can make deployer work on your machine. I want to be sure we support as many setups as possible, OSX including.

[2015-10-16 16:21] levackt opened #239 "camel-webcam component"
Would be cool to have a webcam, for one thing, the spy-machine #209 will need a spycam. :)

Other use cases that come to mind include motion detection which can trigger storing the image or uploading to the cloudlet, or you could use it for barcode scanning and a host of other things.

I tried the laptop webcam as well as an old EyeToy I have lying around.

The component supports polling the webca

[2015-10-17 20:26] gautric commented on #231
Hi @thberger @hekonsek,

I just received mine today,
I notice sense-hat works with i2c bus,
the camel-pi4j "should work" without too much issue ;-)
we just need further information  about drivers included/soldered on it, I gonna try to find them  asap.
I've already post a blog article about camel-pi4j

what do you think about ?

best

[2015-10-17 20:27] gautric commented on #231
pi@rbpiv2-1 ~ $     sudo i2cdetect -y 1
     0  1  2  3  4  5  6  7  8  9  a  b  c  d  e  f
00:          -- -- -- -- -- -- -- -- -- -- -- -- --
10: -- -- -- -- -- -- -- -- -- -- -- -- 1c -- -- --
20: -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
30: -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
40: -- -- -- -- -- -- UU -- -- -- -- -- -- -- -- --
50: -- -- -- -- -- -- -- -- -- -- -- -- 5c -- --

[2015-10-18 08:23] gautric commented on #165
#164 duplicate

[2015-10-18 08:23] #165 closed

[2015-10-18 22:51] thberger commented on #231
Hi @hekonsek

sorry for the late response! Many thanks to @gautric's for the hint with pi4j! I have no experience with this library (and i2c in general) yet, but I'm going to have a look at the topics. At least I can help to verify the findings using my sense-hat. If I understood gautric right, the camel component implementation should not be too hard, if based on the pi4j library. I like to spend

[2015-10-19 08:51] hekonsek commented on #235
I nailed it. My logger configuration swallowed the REST route configuration exception. That causes the CamelContext to be stopped. Everything works like a charm now.

[2015-10-19 08:51] #235 closed

[2015-10-19 10:54] hekonsek commented on #231
@gautric is our Pi4J expert :) . It would be great if you guys can come up with the sense-hat support. That would simplify demos for us.

[2015-10-19 10:56] hekonsek opened #240 "Consider OpenDDS support"

[2015-10-19 10:57] hekonsek opened #241 "Blink Rapsberry Pi LEDs to indicate that routes are processing exchanges"

[2015-10-19 12:41] gautric commented on #231
Sense Hat uses : (from https://www.raspberrypi.org/blog/astro-pi-tech-specs/)
+ ST LSM9DS1 - for 3D accelerometer, 3D gyroscope and 3D magnetometer
+ ST LPS25H - for Barometric pressure and temperature sensor
+ ST HTS221 - for Relative humidity and temperature sensor

we need develop driver for all of them :

I have to rework this part about driver location using the old project name

[2015-10-19 13:53] hekonsek opened #242 "Release 0.1.2"
Action points:
* annoucement

[2015-10-19 14:58] gautric commented on #240
more info : http://www.opendds.org/index.html
source code : https://github.com/objectcomputing/OpenDDS

[2015-10-19 19:15] hekonsek commented on #232
Done - http://henryk-konsek.blogspot.com/2015/10/rhiot-about-to-support-all-gpsd.html .

[2015-10-19 19:15] #232 closed

[2015-10-19 19:15] hekonsek commented on #230
Looks good. Closing!

[2015-10-19 19:15] #230 closed

[2015-10-19 19:17] hekonsek commented on #210
So I have officially deprecated BU353 component (#232). Long live the GPSD component. That should save us from the dreadful "device or resource busy" errors. Closing this one then. Thank you guys for working on this stuff!

[2015-10-19 19:17] #210 closed

[2015-10-20 13:58] hekonsek commented on #242
Release done. Time for announcement!

[2015-10-20 14:12] levackt commented on #238
Ruled out the vbox, and getting warmer but haven't nailed it yet, so let me bounce it here and maybe one of you spot something.

If I run the deployer from the IDE I get all the good stuff and it works;

Whereas Docker's output is as follows;

Notice the range is 10.0.2.* compared to the 10.0.0.* on the host network.
And of course no device found.

Going through the Docker networking docs it's not

[2015-10-20 16:31] hekonsek opened #243 "R&D on Bosch Hawkbit"
We should try to include Bosch Hawkbit in Rhiot. It looks like a great solution for the updates challanges.

[2015-10-20 18:18] kaizimmerm commented on #243
Sounds great. Let me know when you have time for a chat :smile:

[2015-10-20 19:23] hekonsek opened #244 "GpsCloudletRoutesTest brokes CI build"

[2015-10-20 19:31] gautric commented on #244
thx ;-)

[2015-10-20 19:40] hekonsek commented on #244
I have to investigate why it causes problems in CI :) .

[2015-10-21 08:14] hekonsek opened #245 "Create #rhiot IRC channel"

[2015-10-21 09:50] gautric opened #246 "R&D on Sigfox tech"
We should try to include Sigfox in Rhiot.
Sigfox is based at Toulouse FR, and is radio provider for IoT

[2015-10-21 09:54] gautric commented on #246
there is  one extension for RPi

http://yadom.fr/carte-rpisigfox.html

Library via serial port https://github.com/SNOC/rpisigfox and  http://makers.sigfox.com/#about

[2015-10-21 10:19] hekonsek opened #247 "MQTT quickstart brag -> Document Steroids"

[2015-10-21 17:17] kartben commented on #246
I will be blogging shortly on how to use Kura as  Sigfox gateway :)

On Wed, Oct 21, 2015 at 11:54 AM, Greg. A. <notifications@github.com> wrote:

[2015-10-21 18:06] gautric commented on #246
@kartben, so cool,
waiting your next post and see how we can use it

[2015-10-21 20:05] thberger commented on #239
Will this component also support the official camera module? (https://www.raspberrypi.org/products/camera-module)

[2015-10-21 20:30] hekonsek opened #248 "Document gateway test API"

[2015-10-21 20:34] gautric commented on #248
w/ http://swagger.io/ ?

[2015-10-21 20:41] hekonsek commented on #248
Sorry, it is actually SPI, not API :) - https://github.com/rhiot/rhiot/blob/master/gateway/src/main/groovy/io/rhiot/gateway/test/GatewayTest.java

[2015-10-21 20:43] hekonsek commented on #244
I've just refactored Gateway test SPI, to make gateway tests more reliable.

[2015-10-21 20:43] #244 closed

[2015-10-21 20:56] gautric commented on #201
first impl
https://github.com/rhiot/rhiot/commit/668d3d73549dbc1342db27731f6c7ecd9251d92f

[2015-10-21 21:32] #201 closed

[2015-10-22 06:26] hekonsek commented on #239
Good point! @levackt, do you know something about it?

[2015-10-22 07:11] levackt commented on #239
It will indeed, and might already, but I'll wait for the hardware to confirm.
If I'm lucky I have it tomorrow, more likely next week.

While I'm here let me update with where I'm at with this;
- barcode demo is done, thanks to camel-barcode it's as simple as ".unmarshal(barcode)" and you have a barcode scanner, enrich with gps coords for logistics bliss.

- live streaming with camel-websocket, in

[2015-10-22 07:22] hekonsek commented on #242
Done.

[2015-10-22 07:22] #242 closed

[2015-10-22 08:15] hekonsek opened #249 "Add gateway support to Intel NUC"

[2015-10-22 08:20] gautric opened #250 "add FM Radio TEA5767 camel component"
from blog post : https://www.hackster.io/javier-calderon/fm-radio-tea5767-029377
tech doc here : http://www.rockbox.org/wiki/pub/Main/DataSheets/application_note_tea5767-8.pdf

[2015-10-22 08:29] hekonsek commented on #249
My candidate model to support is http://www.intel.com/content/www/us/en/nuc/nuc-board-dn2820fykh.html . It is pretty affordable.

[2015-10-22 08:41] gautric commented on #239
we could create an  tested webcam list,
stay tuned ;-)

[2015-10-22 17:04] thberger commented on #239
Hi @hekonsek  and @gautric,

that sounds very good. I already have that Pi Camera Module at home. Also the use cases you mention sound very reasonable to me. Especially starting a route when motion is detected. So I guess I can give it a try by building a route like in your examples above using the latest rhiot master?

Best

[2015-10-22 17:11] gautric commented on #239
@thberger please take a look to my last post here
http://gautric.github.io/blog/2015/10/22/rhiot-0.1.2-camel-webcam-macos-x.html

[2015-10-22 17:54] levackt commented on #239
Nice one, relieved it worked for you :)
Thomas you're welcome to try the mod and if there's a driver error please let me know, I'm getting around to the driver stuff but if needed I'll push it forward.
It works on my Pi too but I don't have the mod yet, so it's possible it only works for USB devices on the Pi, and could appear to hang while it looks for your device, might need a timeout there, I'l

[2015-10-23 06:19] hekonsek commented on #239
@thberger the webcam component made it into 0.1.2 release, so you can use it or the master.

@levackt I will come back to you soon with some ideas regarding the image cloudlet.

[2015-10-23 07:18] hekonsek commented on #243
I'm aiming into the next week. I just want to be sure that got time to make my homework before and take a deeper look into the project. Thanks, Kai!

[2015-10-23 08:06] hekonsek opened #251 "Donate the Steroids bootstrap API to Eclipse Server Platform"
I would like to refactor and donate Steroids to the Eclipse Foundation, so it could act as a base for the backend services. What I would like achieve here in particular:
- provide framework-agnostic way of configuring the backend services
- provide framework-agnostic way of working with beans

IMHO That should be the first step in creating the IoT backend project at Eclipse. I initiated the discus

[2015-10-23 10:36] thberger commented on #239
Hi guys,

good news: The webcam-component basically works with the Raspberry Pi Camera Module. But I had to do some extra work:

1. It is important that a specific kernel module for the v4l2 driver is loaded on the Pi. By default, this is not the case, but sudo modprobe bcm2835-v4l2 works.

2. I had to add com.github.sarxos:v4l4j to the classpath. It is not declared as Maven dependendy of the webc

[2015-10-23 11:18] hekonsek opened #252 "Devices with webcams should allow to stream their video to Device Cloudlet UI"
If managed device has webcam, we should allow to use webcam->websocket route from @gautric blog post. That should allow us to stream real time video from the devices using the device management UI.

[2015-10-23 11:44] levackt commented on #239
You might notice the build is broken, sorry about that, I've now disabled
the guilty tests temporarily, related to this driver issue.

After configuring as you noted as well, I get 0.1.2 as well as master to
work, I expected 0.1.2 to fail due to that missing jar as well but I'm
surprised it worked.
The modprobe won't survive restarts, I put a comment to that effect in the
readme, you should edit r

[2015-10-23 12:33] gautric commented on #252
an low level implementation here
http://gautric.github.io/blog/2015/10/23/rhiot-camel-webcam-websocket-macbookpro.html

[2015-10-23 12:40] levackt commented on #239
Good news, I got the camera mod and tested it on master and 0.1.2 release.

Note that I added a section on configuring/troubleshooting the pi mod to the docs, will think more about improving that, but it's not likely something we can handle in the component unless we edit the rc.local on deploy.

The webcam listener idea went bust, the discovery service doesn't work for some drivers so it won't be

[2015-10-23 12:55] hekonsek commented on #252
What need to enable device to report their webcam capabilities. LWM2M client would be great for that. That would allow us to ask each device if it provides webcam or not.

Then, we should provide some way to tell the device to turn on the streaming to the Rhiot Cloud.

So I would like to have the video [on|of] button near the devices equiped with webcams on device management UI. Default to off.

[2015-10-23 13:24] hekonsek opened #253 "Create binary cloudlet"
@levackt I was thinking about a backend for receiving the images from the webcam. My idea would be to have a "binary cloudlet". A generic backend service which can receive binary data with some metadata and manage this kind of data.

In particular, you could send binary data (like image captured by camera) to MQTT/AMQP broker. Binary data will receive the binary message from the broker and save th

[2015-10-23 13:28] levackt commented on #253
I like it, you know I'm all in :)

On Fri, Oct 23, 2015 at 3:24 PM, Henryk Konsek <notifications@github.com>
wrote:

[2015-10-23 13:37] hekonsek commented on #253
Cool! I will create new maven module.

We got steroids-activemq for starting the embedded AMQ broker with MQTT+AMQP connectors.

Now we have to create a Camel route consuming events from the given JMS topic, assigns the ID to the image and saves it to the pluggable store. I propose file system by default.

We should also multicast an image to a websocket, to allow websocket streaming of the video

[2015-10-23 13:44] hekonsek commented on #253
BTW I see that you started to work on the webcam cloudlet. I will use it as a base then and rename it to "binary", OK?

[2015-10-23 13:47] levackt commented on #253
Great!

On Fri, Oct 23, 2015 at 3:44 PM, Henryk Konsek <notifications@github.com>
wrote:

[2015-10-23 13:51] hekonsek commented on #253
Actually I think that we should not keep the webcam information on the cloudlet side. Thus kind of information should be provided by the device cloudlet. So you ask device cloudlet with REST query like `/device/DEVICE_ID/cameras` to receive the list of the cameras. The device cloudlet (from server side) asks then the given device (DEVICE_ID) about its webcams using the LWM2M protocol.

So I believ

[2015-10-23 13:56] levackt commented on #253
Agreed, and feel free to start at the clean slate :)

On Fri, Oct 23, 2015 at 3:51 PM, Henryk Konsek <notifications@github.com>
wrote:

[2015-10-24 15:08] levackt commented on #239
I see what you mean Thomas, the driver eventually stops working and only
the hard restart fixes it.
I updated the docs to reflect that, and here's the link to the bug;
https://github.com/sarxos/webcam-capture/issues/382

Good to be in the same boat with you again :)

On Fri, Oct 23, 2015 at 1:44 PM, Taariq Levack <taariql@gmail.com> wrote:

[2015-10-24 16:18] hekonsek commented on #239
As far as `modprobe` is concerned. We can make the webcam component to load that module on the component startup using `ProcessManager` and executing an appriopriate system `modprobe` command.

I also propose to add `com.github.sarxos:v4l4j` to the webcam component if it is required by the RPi webcam.

@levackt Do you agree?

[2015-10-24 16:25] levackt commented on #239
Agreed with both.
5 minutes ago I thought of item 1 again so we're syncing up, and item 2 is already fixed :)

[2015-10-24 21:46] hekonsek commented on #253
I decided to create a new cloudlet module. We will move your webcam cloudlet parts there.

The new `BinaryCloudlet` demonstrates how I would see this. I.e. we save a binary message we received from a MQTT/AMQP bridge to the pluggable binary store. Then we broadcast the ID of the binary to the websockets, so the clients can download the latest saved binary if they want.

In particular I would like

[2015-10-25 05:00] levackt commented on #253
This is all good stuff, and thanks for fixing the spring bom to make some
elbow room for camel-websocket. :)

Is this a typo or the new convention for mqttJms bridge names, or just a
special name for binary topics?  'device.binary.>'

On Sat, Oct 24, 2015 at 11:47 PM, Henryk Konsek <notifications@github.com>
wrote:

[2015-10-25 08:00] hekonsek commented on #253
The last topic segment is a wildcard. This is where you should put your
client generated binary id. For example device.video.myrpi_someuuid . That
id is then extracted on a server side.

On Sun, Oct 25, 2015, 06:00 Taariq Levack <notifications@github.com> wrote:

--
Henryk Konsek
http://about.me/hekonsek

[2015-10-25 08:41] hekonsek commented on #253
BTW As you can see I'm trying not to rely on the Spring Boot API anymore. Instead I prefer our Steroids API. The idea here is that we should not enforce any particular framework on our users. End users could use Spring Boot when extending our cloudlets (we can make Steroids API capable of delegating bean lookup to the 3rd parties frameworks, like Spring Boot) but our core code should be framework

[2015-10-25 08:52] hekonsek opened #254 "Create ThingsData API"

[2015-10-25 08:54] hekonsek commented on #253
Now we should create the REST API for binaries metadata. Kind of CRUD API really.

We could do it fast and easily, but I would like to have a bigger concept realized here. :) This idea has been partially implemented in a document cloudlet, by DocumentDriver [1]. The idea is to create a generic CRUD API for working with documents (document is something that can be represented as JSON). DocumentDriv

[2015-10-25 09:06] hekonsek commented on #253
I would like to return to this ticket when we have #254 done.

[2015-10-25 12:00] thberger commented on #239
Hi,

Taariq, good to hear that we experience the same problem with the restart. So I guess the problem is related to the driver itself and is not influenced on the used OS or Pi model? Just for information: I tested the on a Pi 1 Model B with Raspian Wheezy.

@hekonsek : Yeah, it's good if the component loads the kernel module via ProcessManger. For me as a Java developer making first steps in the

[2015-10-25 13:51] levackt commented on #239
Yeah for sure.
I just pushed the process manager fix and removed the modprobe from the
docs.
I'm testing the Pi2 Model B+ at the moment, I now have no trouble
restarting the gateway, or the OS with gateway running.
I first edited my rc.local to remove the modprobe on startup to make sure
it works, please see if it works for you too on the Pi 1.

On Sun, Oct 25, 2015 at 2:00 PM, Thomas Berger <noti

[2015-10-25 13:57] levackt commented on #239
BTW Thomas, I've still got the error in the logs about skipping the H264
format but it doesn't stop the webcam from working, if that's the case for
you too then I'll remove the other note from the docs as well.
If it's not the case I'll dive back in and hopefully reproduce it again, or
hopefully not :)

On Sun, Oct 25, 2015 at 3:51 PM, Taariq Levack <taariql@gmail.com> wrote:

[2015-10-25 14:13] levackt commented on #239
Sorry Thomas, it only works when I have 2 cameras attached, when it's only
the mod the error persists so just the modprobe issue is fixed.
The hard reboot still applies for now.

On Sun, Oct 25, 2015 at 3:57 PM, Taariq Levack <taariql@gmail.com> wrote:

[2015-10-25 16:09] hekonsek opened #255 "Consider supporting Intel Compute Stick as a gateway device"

[2015-10-26 10:09] levackt commented on #239
Seems like I should reconfigure the driver in the process manager as well after the modprobe, as the allowed resolution and/or format is changing between restarts which might be related to the bug. I don't know much else yet but I'll try a few more things. Hang tight :)

[2015-10-26 18:39] levackt commented on #239
I've hopefully worked around the hard reboot in the process manager, will do some more testing and refactoring in the coming days but it's shaping up.
Give it a try whenever you get a chance please.

[2015-10-27 07:11] hekonsek commented on #249
So I decided to give NUC DN2820FYKH a try. It is the cheapest and easy to buy NUC unit. We could support it as a minimal NUC gateway.

[2015-10-27 08:42] hekonsek opened #256 "WebCam component should not use SUDO"
@levackt Using SUDO to execute modprobe hangs my system. I would use Kura approach here and assume that current user has enough privileges to run the command. I.e. run the `modprobe` without the SUDO. Playing with SUDO like that is like playing with fire :) . This is end-user responsibility to grant access to the appropriate commands to the user running the router.

[2015-10-27 08:45] levackt commented on #256
OK thanks for fixing, sorry about the hang :)

[2015-10-27 08:46] gautric commented on #231
work in progress 20%

[2015-10-27 08:48] hekonsek commented on #256
No biggies - process management in Java is a bitch :) BTW You can consider analyzing the output from `modprobe` and logging if the driver has been loaded or not (on INFO level, as this is system-wide operation).

[2015-10-27 08:48] #256 closed

[2015-10-27 09:03] levackt opened #257 "WebcamComponent should analyze modprobe result to ensure v4l2 module can be loaded"

[2015-10-27 10:14] gautric opened #258 "Implement alerting mode for pi4j/dio/spi component"
we could implement for some device a threshold feature.

for example
if TEMP >= 25 ºC, temp camel could start send alert to the external process

from("i2c://1/0x12?label=Temp&threshold=[>25]").to("amqp:queue:alerting.acme.temp")

[2015-10-27 14:02] hekonsek commented on #258
Actually this can be implemented using Camel DSL filter:

    from("i2c://1/0x12?label=Temp").filter().simple("${body} > 25").to("amqp:queue:alerting.acme.temp")

And you can use any expression language you want.

What do you think? Is there any additional value in adding filtering logic on the component level?

[2015-10-27 15:03] gautric commented on #258
@hekonsek yep you are right,

but I am thinking about CPU consumption too ;-)
we deploy camel route over small, tiny and low cost CPU.

[2015-10-27 16:45] hekonsek commented on #258
Hmmm, but you have to read the value anyway to determine if it is too high or not. If so, then doing it on the Camel level won't consume much more CPU. But maybe I'm wrong :) .

[2015-10-27 16:58] hekonsek opened #259 "Create "rhiot" command line tool"
A single command script which will encapsulate our existing commands and hide ugly Docker internals. So instead of running:

    docker run --net=host rhiot/deploy-gateway

We could run:

    rhiot deploy-gateway

[2015-10-27 22:53] thberger commented on #239
HI Taariq,

thanks for all your work. I quickly tested your code (including commit cfdb904) in my application, it does work with some limititations: First, I haveto run the camel application with root permission (e.g. sudo). Otherwise the modprobe execution will not work and `loadWebcamDriver` will hang forever in the while-loop. Additionally, a second start of the app still doesn't work for me. `

[2015-10-28 05:06] levackt commented on #239
Hi Thomas

Due to ticket #256 the pi user is assumed to be able to run modprobe
without sudo, can your user do this on command line?
We can probably detect that and report the error, I'll take a look.

On Wed, Oct 28, 2015 at 12:53 AM, Thomas Berger <notifications@github.com>
wrote:

[2015-10-28 09:14] levackt commented on #239
While we think of something better I took a few actions;
1. partially reverted the modprobe command to what works for the Pi/debian,
"/bin/sh", "-c", "modprobe bcm2835-v4l2"
Still without sudo, @hekonsek please let me know if you can still build
2. Fail fast if modprobe permissions are insufficient to load v4l2 or no
devices are found by v4l2
3. Submitted PR to the test project to workaround the m

[2015-10-29 06:34] levackt opened #260 "Create camel-openimaj for face detection"
With face detection we can respond to humans at the webcam, for example;

from("webcam:cam1?motion=true").to("openimaj:face-detection").
                filter(body().isInstanceOf(DetectedFace.class)).log("Human detected");

[2015-10-29 07:30] hekonsek commented on #260
Awesome!

[2015-10-29 07:31] hekonsek commented on #260
BTW Does openimaj supports some other interesting graphic analysis patterns?

[2015-10-29 07:52] hekonsek commented on #239
Do you run your RPi app as root? For now I would assume that we do so to make integration simpler. Ecipse Kura assumes the same.

BTW Ideally I'd like our components to be smart enough to even install missing packages. For example GPSD component should install GPSD server is the latter is not present.

[2015-10-29 07:58] hekonsek commented on #239
@levackt I can build project now. So  `/bin/sh -c modprobe bcm2835-v4l2` would work for both Rpi and Ubuntu?

BTW You might consider making this command configurable on the component level. So I could do:

    WebcamComponent webcamComponent = new WebcamComponent();
    webcamComponent.setRpiWebcamLoadingCommand("modprobe myFancyModule");

[2015-10-29 09:59] levackt commented on #239
Yeah then it works for Raspbian/Debian and Ubuntu.
I use the default pi user on Raspian which by default has passwordless sudo, so adding that command to the component will make it easier for Pi users to just use sudo, as well as use another module.
This is much more convenient than the custom process manager.

[2015-10-29 10:21] levackt commented on #260
We might find object detection/recognition/tracking useful in general.
Would also be nice to have hand gestures to control things, and to count vehicles, people etc.
Aside from graphics it does feature extraction from audio too, although with Xuggler which is no longer maintained, in fact OpenIMAJ hasn't released since last year.

Which reminds me, there's a similar library called OpenCV/JavaCV, b

[2015-10-29 11:14] hekonsek commented on #260
Does OpenIMAJ support hands gestures?

[2015-10-29 11:20] hekonsek commented on #239
Hmmm, Can you run `/bin/sh -c modprobe bcm2835-v4l2` as user pi? Without sudo?

[2015-10-29 11:37] levackt commented on #260
I might have mixed that feature up with the JavaCV, besides the Kinect I don't think it's supported if at all.
For basic hand gestures there's also the [Hover board](http://www.hoverlabs.co/raspberry/) for Raspberry/Arduino

[2015-10-29 11:40] levackt commented on #239
Nope, permissions error which I also use to report and break out of the loop.

[2015-10-29 20:03] hekonsek commented on #245
Created and promoted via [1].

[1] http://henryk-konsek.blogspot.com/2015/10/socialize-join-rhiot-community.html

[2015-10-29 20:03] #245 closed

[2015-10-30 06:02] levackt opened #261 "camel-webcam should install v4l-utils if it's not already installed"
Raspbian now has it installed but we should cater for others too.

[2015-10-31 08:01] levackt commented on #238
I added logs to the console about what it's doing in Docker, I'd like to know if it's a general osx/windows thing or just my environment, maybe I can ask better questions of google or the Docker docs. :)
So if you're running Docker on windows/osx, and you have a Pi on the network, please run the following and let me know if you can detect your Pi, paste the output or mention if it's different to m

[2015-10-31 13:33] hekonsek commented on #261
It will be nice to have a OSutil class which can detect what os you are
running. So components could perform different actions for different
operating systems.

On Fri, Oct 30, 2015, 07:02 Taariq Levack <notifications@github.com> wrote:

--
Henryk Konsek
http://about.me/hekonsek

[2015-11-02 16:14] christianbauer commented on #249
I have several NUCs and I could not install and boot Linux or any BSD on the DN2820. It is a horrible box with a hateful BIOS and now also quite outdated. Yes, it is cheap because it's old and nobody wants it. There are two newer generations of NUCs which are much better.

[2015-11-03 07:30] levackt commented on #261
The installer's pretty much done, I'll wrap it up in the coming days.
Please let me know if you have any ideas or curveballs, or if there are any
problems installing/starting webcam or gpsd.

Cheers

On 31 Oct 2015, at 15:33, Henryk Konsek <notifications@github.com> wrote:

It will be nice to have a OSutil class which can detect what os you are
running. So components could perform different action

[2015-11-03 14:07] hekonsek opened #262 "WebCam component should not fail when non-root user is running it"
When running the `mvn install` on my box, a build fails with the following exception:

    Caused by: io.rhiot.utils.install.exception.PermissionDeniedException: You must have sufficient privileges to install package/s [v4l-utils]
	at io.rhiot.utils.install.DefaultInstaller.install(DefaultInstaller.java:152)
	at io.rhiot.component.webcam.WebcamComponent.doStart(WebcamComponent.java:87)
	at org.apa

[2015-11-03 14:19] hekonsek commented on #262
Also not all Linux/webcam combination requires `v4l-utils` to be installed. For example Ubuntu + my Lenovo webcam doesn't. I will update the documentation to reflect that.

[2015-11-03 14:21] hekonsek commented on #262
OK. Done :) . BTW Awesome work with this installer stuff!

[2015-11-03 14:21] #262 closed

[2015-11-03 14:22] levackt commented on #262
Great, good looking out as usual :)

On Tue, Nov 3, 2015 at 4:21 PM, Henryk Konsek <notifications@github.com>
wrote:

[2015-11-03 14:22] hekonsek opened #263 "WebcamComponent#installer setter and getters are missing"
/CC @levackt

[2015-11-03 14:23] hekonsek commented on #263
Resolved.

[2015-11-03 14:23] #263 closed

[2015-11-03 14:28] hekonsek commented on #261
Now everything works like a charm :) .

[2015-11-04 14:04] hekonsek commented on #239
Can we close this one? I believe that base version of webcam component is ready.

[2015-11-04 14:34] levackt commented on #239
Yeah +1, closing

[2015-11-04 14:34] #239 closed

[2015-11-04 16:51] hekonsek commented on #246
Yeah, looking forward for the blog post!

[2015-11-05 11:00] hekonsek commented on #249
@christianbauer  Thanks Christian, that's valuable input. I think we can assume that DN2820 is a crap then. What would be the cheapest NUC you suggest we should support?

[2015-11-05 12:46] #257 closed

[2015-11-05 12:52] christianbauer commented on #249
I've had no problems with D34010WYK and D54250WYK but it's not the latest generation. However they might be cheaper (on sale) now than the latest generation. If you don't care about performance and need the cheapest possible off-the-shelf x86, the EBOX might be a worth a try: http://www.compactpc.com.tw/

[2015-11-05 16:13] hekonsek commented on #257
@levackt Please remember to set the milestone when closing the issue. I need this for changelog when I cut a release :) .

[2015-11-05 16:32] levackt commented on #257
Gotcha :)

[2015-11-05 19:42] hekonsek commented on #257
Thanks. We don't want to miss any of your enhancements in the 0.1.3 announcement :)

[2015-11-05 20:28] hekonsek opened #264 "Enhance our device management"
I'd like to implement the following enhancements to our device management offering:
- create canonical device model
- wrap our existing device management into DataStream architecture
- use canonical device model in device management cloudlet
- add Vorto data stream

[2015-11-05 20:29] hekonsek opened #265 "Create Vorto data stream"

[2015-11-06 05:18] levackt commented on #261
Sweet, closed.

[2015-11-06 05:18] #261 closed

[2015-11-06 05:23] levackt commented on #116
As BU353 is deprecated, only GPSD is self-installing.

[2015-11-06 05:23] #116 closed

[2015-11-08 09:04] hekonsek commented on #238
Unfortunately I don't have a windows or osx box. :( does it work for you
now?

On Sat, Oct 31, 2015, 09:01 Taariq Levack <notifications@github.com> wrote:

--
Henryk Konsek
http://about.me/hekonsek

[2015-11-08 14:43] levackt commented on #238
Figured, and I expect your network mask is going to be the same in both
cases.
Nah I didn't win here yet but I haven't given up, just haven't made more
time, I know docker is crucial to our survival as a species :)

Somewhat related, I had a small victory with rhiot/camel-webcam built and
run on docker/Hypriot, on the Pi of course[1]
Still a few manual steps to automate or document, mostly around

[2015-11-08 19:48] hekonsek commented on #260
Can we consider it done? The basic version is functional already, right?

[2015-11-08 19:55] levackt commented on #260
Yeah I guess, can do the R&D for javacv later.

[2015-11-09 07:44] #260 closed

[2015-11-11 06:33] davsclaus opened #266 "Camel coap consumer is dummy code"
See
https://github.com/rhiot/rhiot/blob/master/components/camel-coap/src/main/java/io/rhiot/component/coap/CoAPConsumer.java#L42

You may want to implement the correct logic if coap can be a consumer, and if not then delete the class and mark on the endpoints its a consumerOnly=true and throw an exception in the create consumer method.

[2015-11-11 06:37] davsclaus commented on #266
Ah it looks like old code that should maybe be moved to a `sandbox` area or just be deleted ?

[2015-11-11 09:48] ajurasz opened #267 "Simple bluetooth scaner"
Create bluetooth scanner which will scan for remote devices that are in the range (similarly to <code>camel-kura</code> component)

[2015-11-11 10:13] #267 closed

[2015-11-11 10:18] ajurasz commented on #54
@hekonsek I would like to start working on this one

[2015-11-11 21:25] hekonsek commented on #267
Awesome. Many thanks for that!

[2015-11-11 21:30] hekonsek commented on #54
Cool, @ajurasz! Ping me if you need anything. BTW Please meet @pires. I think he is the author of the OBD library you mentioned to me. @pires - we want to create a Camel component around your library. :)

[2015-11-11 21:32] pires commented on #54
@hekonsek ouch! That's one of the ugliest code I've ever got out.. and I've been such a poorer maintainer.

[2015-11-11 21:37] hekonsek commented on #54
@pires It is still better than starting from nowhere. BTW We might help you to maintain your library.

[2015-11-11 21:37] pires commented on #54
@hekonsek would be awesome. Let me know what you need and if needs be I'll add you as contributors.

[2015-11-11 21:40] hekonsek commented on #54
@pires In general your work on that project is pretty impressive. Me and @ajurasz will work on this new component for Camel. We will ping you with questions/issues as we go forward. Kudos!

[2015-11-11 21:51] ajurasz opened #268 "GPIOProducer more dynamic"
@gautric I would suggest to make little improvement to <code>GPIOProducer</code> so that we could change pin <code>GPIOAction</code> base on message header.  Let's consider given producer:

<code>recipientList(simple("pi4j-gpio://3?mode=DIGITAL_OUTPUT&state=LOW&action=${in.header.action}"))</code>

when <code>header</code> key is changed then camel will try to register new producer but it is not a

[2015-11-12 02:18] pires commented on #54
Kudos back! Thanks for the heads-up.

[2015-11-12 07:41] hekonsek opened #269 "Create Camel Kura quickstart"
We should provide Camel Kura quickstart which could be easily deployed into the Kura server.

[2015-11-12 07:54] hekonsek opened #270 "Create Kura Camel quickstart"
Action points:
- promote DZone article

[2015-11-12 08:33] gautric commented on #268
@ajurasz no pb, feel free to update it.
but keep in mind to preserve gpio in a safe mode.

Have you ever seen my post http://gautric.github.io/blog/2015/05/20/camel-iot-labs-i2c-gpio-mqtt-lcd.html ? I am using gpio via an wire-tap EIP

[2015-11-12 09:47] gautric commented on #241
I think we can use via pi4j component and a little hack

https://www.raspberrypi.org/forums/viewtopic.php?f=31&t=12530
https://tasksofohm.wordpress.com/hardware/heartbeat-for-the-raspberry-pi/

I gonna test it this evening

keep in touch

[2015-11-12 10:21] ajurasz commented on #268
@gautric ok. My change will be harmless however covered by tests.

If it comes to your post there is exactly the same mechanism I want to apply to <code>GPIOProducer</code>.

<code>exchange.getIn().setHeader(MCP23017LCD.LCD_COLOR, "GREEN");</code> and then this value is used in <code>MCP23017LCD#process</code> method

[2015-11-12 10:34] hekonsek opened #271 "Discuss the possibility of upgrading Kura to Java 8"

[2015-11-12 11:59] hekonsek commented on #260
Cool. Thanks!

[2015-11-12 16:16] hekonsek opened #272 "Improve error logging in Kura router"
https://issues.apache.org/jira/browse/CAMEL-9314

[2015-11-12 16:17] hekonsek commented on #272
Done.

[2015-11-12 16:17] #272 closed

[2015-11-12 16:17] hekonsek opened #273 "KuraRouter should provide consumer template"
https://issues.apache.org/jira/browse/CAMEL-9315

[2015-11-12 16:17] hekonsek commented on #273
Done.

[2015-11-12 16:17] #273 closed

[2015-11-12 16:18] hekonsek opened #274 "Hardening of Kura Camel (better logging, extra tests, etc)"

[2015-11-12 17:59] #268 closed

[2015-11-12 18:03] gautric commented on #268
+1

[2015-11-12 18:24] hekonsek commented on #268
Yay! Thanks guys!

On Thu, Nov 12, 2015, 19:03 Greg. A. <notifications@github.com> wrote:

--
Henryk Konsek
http://about.me/hekonsek

[2015-11-12 19:51] lasombra commented on #169
I don't know how to fix this or if I understand the problem. I just re-tested with Camel 2.16 and the latest Groovy-Eclipse compiler, 2.9.2-01 and I still see this issue. Sorry.

[2015-11-13 05:42] hekonsek commented on #169
No  worries. I will try to nail this later. :)

[2015-11-13 07:29] hekonsek opened #275 "Add base Camel jars to Kura distribution"
We should discuss with a Kura community if they would like to have Camel jars included in the Kura distribution. We are talking about the following jars:

- camel-core
- camel-core-osgi
- camel-kura

Probably also about:
- camel-paho

[2015-11-13 09:00] lasombra commented on #269
I will give this one a try

[2015-11-13 10:13] gautric commented on #274
need help for this stuff ?

[2015-11-13 10:21] hekonsek commented on #274
Actually it is done :) .

[2015-11-13 10:21] #274 closed

[2015-11-13 10:25] hekonsek opened #276 "Try to migrate our documentation to GitBook"

[2015-11-13 10:31] hekonsek opened #277 "Create PojosrKuraServer"
I'd like to have a `PojosrKuraServer`, which could be used to run `KuraRouter` classes in non-OSGi environments, like tests. Example of usage:

    PojosrKuraServer kura = new PojosrKuraServer();
    MyKuraRouter startedKuraRouter = kura.start(MyKuraRouter.class);

So after calling `start` method `startedKuraRouter` should be properly started and initialized with Pojosr bundle context.

[2015-11-13 10:33] hekonsek commented on #277
@lasombra What about this?

[2015-11-13 10:54] lasombra commented on #277
@hekonsek Sure thing!

[2015-11-13 14:26] hekonsek opened #278 "Create Rhiot command script"

[2015-11-13 16:01] lasombra commented on #277
Pojosr is quite abandoned. Are you sure that's the way to go?

[2015-11-13 16:24] hekonsek commented on #277
I'm afraid there is no better alternative. Correct me if I'm wrong :) .

[2015-11-13 16:30] lasombra commented on #277
It seems PojoSR is now felix-connect and was integrated into Camel 2.16.0,
https://issues.apache.org/jira/browse/CAMEL-8835.

On 13 November 2015 at 16:24, Henryk Konsek <notifications@github.com>
wrote:

[2015-11-13 19:52] hekonsek commented on #277
Indeed. Felix Connect FTW then :) .

[2015-11-14 05:51] levackt commented on #238
Just confirmed that Windows behaves the same way so it might be a virtualbox/boot2docker feature, just don't ask me yet what that feature is called or how to change it, and if you know please holler :)

Recap, the Pi cannot be detected because my network is 10.0.0.2/24, putting the Pi on 10.0.0.13 for example, but for docker it's 10.0.**2**.2/24

[2015-11-14 09:38] levackt opened #279 "Webcam tests should timeout faster"
Currently if a webcam is available on the build machine but the component cannot open it, then the build waits for Long.MAX_VALUE.

[2015-11-14 09:59] hekonsek commented on #279
+1

On Sat, Nov 14, 2015, 10:38 Taariq Levack <notifications@github.com> wrote:

--
Henryk Konsek
http://about.me/hekonsek

[2015-11-14 12:17] #279 closed

[2015-11-14 21:27] gautric opened #280 "Create camel-framebuffer component"
camel-framebuffer to use framebuffer /dev

[2015-11-16 07:38] hekonsek commented on #270
Done. See https://dzone.com/articles/creating-camel-routes-for-eclipse-kura .

[2015-11-16 07:38] #270 closed

[2015-11-16 08:06] hekonsek opened #281 "Camel routes deployed to Kura should be managable"
Some use cases:
- configure route parts using property placeholders and OSGi admin config
- define XML route as OSGi admin property

Action points:
- collect more use cases

[2015-11-16 09:41] hekonsek opened #282 "KuraRouter should try to read routes from configuration admin"
KuraRouter should to read route XML DSL from the config property `kura.camel.BUNDLE_SYMBOLIC_NAME.route`.

[2015-11-16 10:26] hekonsek commented on #54
@ajurasz Ping me if you need anything here :) .

[2015-11-16 14:42] hekonsek commented on #280
Looking forward to seeing a documentation for this component so I could learn more about it.

[2015-11-16 14:47] gautric commented on #280
stay tuned,
documentation is coming, but an article too ;-)

[2015-11-16 15:34] hekonsek commented on #269
The next release of Kura will be using Java 8.

[2015-11-16 15:34] #269 closed

[2015-11-16 15:38] hekonsek commented on #271
The next release of Kura will be using Java 8, so we can use Java 8 in Rhiot bits dedicated  as well.

[2015-11-16 15:38] #271 closed

[2015-11-16 16:44] hekonsek opened #283 "Rename camel-iot-gateway service to rhiot-gateway"
Unix system service used to keep field gateway running is not named `camel-iot-gateway` anymore. It has been renamed to `rhiot-gateway`. The same for `/etc/default/camel-iot-gateway` configuration file renamed to `/etc/default/rhiot-gateway`.

[2015-11-16 16:46] hekonsek commented on #283
Done.

[2015-11-16 16:46] #283 closed

[2015-11-16 17:07] hekonsek commented on #278
Done. See - https://github.com/rhiot/rhiot/blob/master/docs/readme.md#rhiot-command-line-tool-cmd .

[2015-11-16 17:07] #278 closed

[2015-11-16 17:27] hekonsek commented on #280
Cool!

[2015-11-17 10:39] hekonsek commented on #282
Done in https://issues.apache.org/jira/browse/CAMEL-9333.

[2015-11-17 10:39] #282 closed

[2015-11-17 10:45] hekonsek opened #284 "Create RhiotKuraRouter"
We should provide Rhiot `KuraRouter` extending ASF Camel `KuraRouter` and providing access to Kura dependencies which are hosted in the Eclipse repository.

[2015-11-17 10:46] hekonsek opened #285 "RhiotKuraRouter should try to read routes XML from Kura ConfigurationService"

[2015-11-17 11:29] hekonsek opened #286 "Defining initial ConfigAdmin routes in XML files"
Now, when `kura.camel/kura.camel.BUNDLE.route` ConfigAdmin property can be used to define XML routes to be loaded, we should allow to specify default routes definition as XML files on filesystem. For example initial `kura.camel/kura.camel.FOO.route` value could be defined in `KURA_HOME/kura/camel/routes/FOO.xml` file.

[2015-11-17 20:05] lasombra commented on #277
@hekonsek is that more or less what you are looking for https://github.com/lasombra/PojosrKuraServer?

[2015-11-17 20:18] hekonsek commented on #277
Looks good!

Some minor suggestions:

  public KuraRouter start(Class<? extends KuraRouter> kuraRouter)
...should be...
  public <T> T start(Class<T extends KuraRouter> kuraRouter)

catch (Exception e) { log.error("Failing to start router....");
log.error(e.getMessage()); }
should wrap exceptions into RuntimeException like "throw new
RuntimeException(e)" instead of logging

I propose to add it to

[2015-11-18 09:51] lasombra commented on #277
I think I got it down. Mind double checking before I get the PR?

[2015-11-18 13:34] hekonsek commented on #277
Sure. I will take a look at this tomorrow. Thanks!

On Wed, Nov 18, 2015, 10:51 LaSombra <notifications@github.com> wrote:

--
Henryk Konsek
http://about.me/hekonsek

[2015-11-18 14:12] hekonsek commented on #275
Issued pull request - https://github.com/eclipse/kura/pull/69 .

[2015-11-18 22:19] #266 closed

[2015-11-19 15:02] hekonsek commented on #284
@gautric I have done this task as I needed this pretty urgently.

[2015-11-19 15:03] hekonsek commented on #284
Documentation - https://github.com/rhiot/rhiot/blob/master/docs/readme.md#camel-kura-router .

[2015-11-19 15:03] #284 closed

[2015-11-19 17:12] hekonsek opened #289 "Support Kura+Fuse architecture"

[2015-11-19 22:39] gautric opened #290 "Create Kura CloudService component (into camel-kura)"
We could use the CloudService provided by Kura Platform to publish and subscribe some msg.
This component doesn't need any configuration physical configuration, it uses the Kura cloud service stack

[code]

[2015-11-19 23:22] kunallimaye opened #291 "Build failure"
Builds using <kbd>mvn clean install</kbd> fails for two components:

1. camel-kura
2. camel-spark

[code]

[2015-11-19 23:25] kunallimaye commented on #291
1. Instead of *rhiot-components* as the parent component, camel-kura POM refers to *rhiot-iot-components* as the parent
2. Setting the relative path for parent module in camel-spark POM to go one more level up

[2015-11-19 23:43] gautric commented on #291
thx for this issue

[2015-11-20 06:56] hekonsek commented on #291
Issue has been fixed with PR. Thanks for a contribution!

[2015-11-20 06:56] #291 closed

[2015-11-20 11:37] hekonsek opened #293 "Migrate documentation of Camel components to GitBook"

[2015-11-20 14:43] gautric commented on #293
rhiot gitbook is now an organisation
we can provide some access to rhiot gitbook org for gitbook user if necessary
any github user can provide modification into github repo

[2015-11-20 19:45] hekonsek commented on #293
It means that everybody can edit our documentation?

[2015-11-20 19:59] gautric commented on #293
just registered github or gitbook user only w/ correct grant

[2015-11-20 20:00] hekonsek commented on #293
But the repo is still rhiot/gitbook, right? :)

[2015-11-20 20:28] gautric commented on #293
yep,
rhiot/gitbook stores our doc source code, rhiot gitbook generate the final html doc

[2015-11-20 20:47] hekonsek commented on #293
OK. I get it. We can close this task then :)

[2015-11-20 20:47] #293 closed

[2015-11-21 17:33] gautric commented on #290
[code]

[2015-11-22 20:03] hekonsek commented on #249
Many thanks for the output Christian. I will buy D34010WYK and give it a try.

[2015-11-22 21:00] gautric commented on #290
producer and consumer are ok, we can close it

[2015-11-22 21:00] #290 closed

[2015-11-23 08:45] hekonsek opened #294 "Create rhiot.io web page"

[2015-11-23 09:10] gautric commented on #50
replaced by https://github.com/rhiot/rhiot/issues/294 #294

[2015-11-23 09:10] #50 closed

[2015-11-23 10:47] gautric commented on #13
serial port can be used directly via javac.comm api : http://docs.oracle.com/cd/E17802_01/products/products/javacomm/reference/api/

[2015-11-23 10:50] gautric commented on #13
Add Serial Support #110

[2015-11-23 10:52] gautric commented on #294
[first version available](http://rhiot.github.io)

[2015-11-25 10:48] gautric opened #295 "bug deviceio : GPIOProducer shouldn't overwrite the "action" on each msg"

[2015-11-25 10:55] #295 closed

[2015-11-25 11:39] hekonsek commented on #289
As stated here [1] we now supports both regular Rhiot gateways and Kura gateways.

[1] https://rhiot.gitbooks.io/rhiotdocumentation/content/gateway/index.html

[2015-11-25 11:39] #289 closed

[2015-11-27 11:21] gautric opened #296 "Kura 1.3.0 version didn't ship only 1.0.3 version sub component artifact"
| $groupId | $artifcatId | $versionId    |  $pomfile |
|-------------|---------------|------------------|------|
| org.eclipse.kura | distrib | 1.3.0    |   ./distrib/pom.xml |
| org.eclipse.kura | org.eclipse.kura.demo.heater | 1.0.2-SNAPSHOT    |   ./examples/org.eclipse.kura.demo.heater/pom.xml |
| org.eclipse.kura | org.eclipse.kura.demo.modbus | 1.0.3-SNAPSHOT    |   ./examples/org.eclipse.ku

[2015-11-27 11:25] gautric commented on #296
cat  distrib/config/kura.build.properties
kura.version=1.3.0
org.eclipse.kura.api.version=1.0.6
org.eclipse.kura.test.version=1.0.1
org.eclipse.kura.core.version=1.0.6
org.eclipse.kura.core.certificates.version=1.0.1
org.eclipse.kura.core.cloud.version=1.0.6
org.eclipse.kura.core.comm.version=1.0.2
org.eclipse.kura.core.configuration.version=1.0.5
org.eclipse.kura.core.crypto.version=1.0.3
org.ecl

[2015-11-27 14:15] gautric commented on #296
a document to be sync with kura platform

https://rhiot.gitbooks.io/rhiotdocumentation/content/building/manage_kura_maven_dependencies.html

[2015-11-27 14:15] #296 closed

[2015-11-27 16:07] gautric opened #297 "camel-kura should use the Kura/Eclipse's jar naming convention"
RHIOT, camel and Apache project use project "${project.artifactId}-${project.version}.jar"  for Jar naming
Kura platform uses "${project.groupId}.${project.artifactId}_${project.version}.jar" for Jar naming

we could provide this jar w/ Eclipse's naming convention

we could avoid any pb with camel-kura project form Camel repo

[2015-11-27 16:10] gautric commented on #297
&lt;plugin&gt;
  &lt;artifactId&gt;maven-jar-plugin&lt;/artifactId&gt;
  &lt;executions&gt;
    &lt;execution&gt;
      &lt;id&gt;kura&lt;/id&gt;
      &lt;goals&gt;&lt;goal&gt;jar&lt;/goal&gt;&lt;/goals&gt;
      &lt;phase&gt;package&lt;/phase&gt;
      &lt;configuration&gt;
        &lt;finalName&gt;${groupId}.${artifactId}\_${version}&lt;/finalName&gt;
        &lt;includes&gt;
          &lt;incl

[2015-11-27 20:20] gautric opened #298 "Create gpio component for camel-kura lib"

[2015-11-29 21:14] gautric opened #299 "Camel-kura shouldn't depend of "org.eclipse.kura.linux.net""
In KuraAccessPointsProvider,
we import  "org.eclipse.kura.linux.net.NetworkServiceImpl;"

we cannot use camel-kura into Kura Emulator
camel-kura should be platform agnostic

[2015-11-29 21:15] hekonsek commented on #299
What exactly is the problem?

[2015-11-29 21:22] gautric commented on #299
we need to import "org.eclipse.kura.linux.net" into the kura emluator and get some duplicate "org.eclipse.kura.net" service.

[2015-11-29 21:36] hekonsek commented on #299
I'm afraid I still don't get it ;)

Can you tell me what you are exactly doing and what is the exact issue you
see?

niedz., 29.11.2015 o 22:22 użytkownik Greg. A. <notifications@github.com>
napisał:

--
Henryk Konsek
http://about.me/hekonsek

[2015-11-29 21:50] gautric commented on #299
diff --git a/components/camel-kura/src/main/java/io/rhiot/component/kura/wifi/KuraAccessPointsProvider.java b/components/camel-kura/src/main/java/io/rhiot/component/kura/wifi/KuraAccessPointsProvider.java
index cac76e1..17a9394 100644
--- a/components/camel-kura/src/main/java/io/rhiot/component/kura/wifi/KuraAccessPointsProvider.java
+++ b/components/camel-kura/src/main/java/io/rhiot/component/kur

[2015-11-30 07:15] hekonsek commented on #297
Actually I would prefer to have artifact naming consistent within our project. It doesn't matter from the usability point of view, while consistent naming within Rhiot is important.

[2015-11-30 07:27] hekonsek commented on #281
Feature implemented here - https://rhiot.gitbooks.io/rhiotdocumentation/content/gateway/kura/camel_components/camel_kura_router.html#loading-xml-routes-using-scr-property . Now we have to test it with Kura web UI.

[2015-11-30 07:56] hekonsek opened #300 "Discuss possibility of using Karaf with Kura"

[2015-11-30 09:00] gautric commented on #299
we gonna create an ServiceFactory

[2015-11-30 09:59] hekonsek opened #301 "Create Rhiot gateway reference architecture"
I believe we should support Kura as our primary gateway. So Rhiot gateway would be basically a set of utilities and modules around Eclipse Kura. Our goal is to provide better user experience and additional functionalities for Kura.

We also should support lightweight Rhiot gateway, which is non-OSGi subset of our Kura gateway. Its primary goal would be to provide better user experiences for the ma

[2015-11-30 10:15] lasombra commented on #301
I agree but I believe that we should provide a better documentation and quickstarts than Kura.

[2015-11-30 10:40] gautric commented on #301
@hekonsek, yep Kura is a strong and robust platform,
I think we could invest on Kura platform, and provide best effort for non-OSGI/Kura gateway

@lasombra I am writing a new blog post, stay tuned ;-)

[2015-11-30 10:43] lasombra commented on #301
@gautric Good stuff :)

Couldn't we, maybe, add a layer to easily deploy non-OSGI stuff on top of the OSGI container?

[2015-11-30 11:21] gautric commented on #299
we can close it, camel-kura runs correctly inside the kura emulator

[2015-11-30 11:21] #299 closed

[2015-11-30 11:44] hekonsek commented on #301
@lasombra Yeah, our goal here is to improve user experience, so we definitely would like to have better docs and examples.

[2015-11-30 11:44] hekonsek commented on #301
@gautric Looking forward to seeing the blog post!

[2015-11-30 11:46] hekonsek commented on #301
@lasombra Adding extra layer will be difficult, as OSGi internal will leak that abstraction anyway. I was rather planning to just support as much as possible of Kura bits outside of OSGi.

[2015-11-30 16:04] hekonsek opened #302 "Support air sensor for monitoring PM2.5 and PM10"
It would be great to monitor PM2.5 and PM10 pollution using sensor like this [1].

[1] http://botland.com.pl/czujniki-gazu/4480-czujnik-pylu-stezenia-czastek-monitor-czystosci-powietrza-gp2y1010au0f.html

[2015-11-30 16:05] hekonsek commented on #302
@gautric We've been talking with @ajurasz about PM2.5 and PM10 monitoring. We are thinkin gabout buying this [1] sensor. Do you think it will be suitable for a I2C driver?

[1] http://botland.com.pl/czujniki-gazu/4480-czujnik-pylu-stezenia-czastek-monitor-czystosci-powietrza-gp2y1010au0f.html

[2015-11-30 16:24] ppatierno commented on #302
Sorry @hekonsek but I started to follow this interesting project few days ago. Great work !
I'll setup it in the next days :-)

Pay attention that the sensor isn't based on I2C protocol. I see that it has only an analog output for the microcontroller so you need an ADC (outside or inside the microcontroller if available).
The discrete value must be converted in dust density using the dust density

[2015-11-30 16:29] gautric commented on #302
I am not fluent in Polish but I think "Wyjście analogowe: 0,5 V / (100 μg/m3)." mean analog output.
I didn't found any i2c protocol into documentation
but the good news, camel-pi4j w/ analog input should work out-of-the-box ;-)

[2015-11-30 16:31] hekonsek commented on #302
@ppatierno Looking forward for our cooperation! Ping me if you need anything :) . Good point with that analog only stuff.

@gautric  Do we have any example of using camel-pi4j with analog input? I'm trying to comprehend what is required to make it work.

[2015-11-30 16:34] ppatierno commented on #302
Pay attention that both Pi boards (1 and 2) don't have analog inputs out of the box ... you have to use an external ADC.

@hekonsek thanks !

[2015-11-30 17:21] ajurasz commented on #302
@hekonsek from what I read @ppatierno is right about Pi boards missing analog inputs and this can be   easily handled as described here [1]. Then we should be able to use camel-pi4j.

[1] https://learn.adafruit.com/reading-a-analog-in-and-controlling-audio-volume-with-the-raspberry-pi

[2015-11-30 17:24] ppatierno commented on #302
@ajurasz yes as I said an external ADC is needed and the article you refer is a good example

[2015-12-01 13:31] gautric opened #303 "Implements RhiotKuraMetatypePropertiesFunction for camel placeholder"
W/ RhiotKuraMetatypePropertiesFunction
we could use placeholder and properties with variables coming from OSGi (http://www.osgi.org/xmlns/metatype/v1.2.0) configuration.
to use it use "metatype" prefix like this
[code]

[2015-12-01 13:34] gautric commented on #303
you can also modify the whole camel context

[2015-12-01 13:34] #303 closed

[2015-12-02 15:14] hekonsek commented on #298
Can you provide a documentation for this component?

[2015-12-02 15:19] gautric commented on #298
yep, of course

[2015-12-02 15:19] hekonsek commented on #298
Cool :)

[2015-12-02 22:34] gautric opened #304 "kura-gpio doShutdown should/must wait until all BLINK thread finish"
into race condition we could get
[code]

[2015-12-02 22:41] #304 closed

[2015-12-03 09:53] gautric commented on #298
in progess ...

[2015-12-03 09:55] gautric opened #305 "provide state and shutdownState for kura-gpio Endpoint"

[2015-12-03 09:56] #305 closed

[2015-12-04 16:24] gautric commented on #298
should be ok, we can close it

[2015-12-04 16:24] #298 closed

[2015-12-04 17:46] hekonsek commented on #298
Many thanks!

[2015-12-07 09:47] gautric opened #306 "Build Error about camel-pi4j"
got

[code]

need to update camel-pi4j/pom.xml

[2015-12-07 09:50] #306 closed

[2015-12-07 13:26] hekonsek opened #307 "Support OPC UA"

[2015-12-07 13:32] gautric opened #308 "Documentation INPUT doesn't exist"

[2015-12-07 13:32] gautric commented on #308
https://github.com/rhiot/gitbook/commit/9eaa49e848a53799ae9ee031615e5cd70ad4fdd4
https://github.com/rhiot/gitbook/commit/425f399151f5a88d4f158e3c8f01942ec1cb19af

[2015-12-07 13:32] #308 closed

[2015-12-08 12:15] tplevko opened #309 "Build information page results in "page not found""
When I followed the "If you want to build the project yourself, read this document." there is page not found: https://github.com/rhiot/rhiot/blob/master/docs/building.md